<div class="progress-form mb-3">
    <div>
        <div class="progress-chart m-auto">
            <a href="/section1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Personal Details">
                <div class="bar-1 rounded-circle bar-active">1</div>
            </a>
            <span class="progress-bar bar-2 bar"></span>
            <a href="/section2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Qualification Details">
                <div class="bar-2 rounded-pill bar">2</div>
            </a>
            <span class="progress-bar bar-3 bar"></span>
            <a href="/section3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Caste Details">
                <div class="bar-3 rounded-pill  bar">3</div>
            </a>

            <span class="progress-bar bar-4 bar"></span>
            <a href="/section4" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Parent's/Guardian's | Bank Details">
                <div class="bar-4 rounded-pill bar">4
                </div>
            </a>
            <span class="progress-bar bar-5"></span>
            <a href="/section5" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Documents">
                <div class="bar-5 rounded-pill">5</div>
            </a>
        </div>
    </div>
</div>