<div class="progress-form mb-3">
    <div class="progress-container">
        <!-- Step 1 -->
        <a href="/section1" class="progress-step {% if request.path == '/section1' %}active{% endif %}"
           data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Personal Details">
            <span class="step-text" style="font-size:15px">Profile</span>
        </a>

        <!-- Progress Bar (connecting line) -->
        <div class="progress-bar"></div>

        <!-- Step 2 -->
        <a href="/section2" class="progress-step {% if request.path == '/section2' %}active{% endif %}"
           data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Qualification Details">
            <span class="step-text" style="font-size:15px">Qualification</span>
        </a>

        <!-- Progress Bar (connecting line) -->
        <div class="progress-bar"></div>

        <!-- Step 3 -->
        <a href="/section3" class="progress-step {% if request.path == '/section3' %}active{% endif %}"
           data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Caste Details">
            <span class="step-text" style="font-size:15px">Caste Details</span>
        </a>

        <!-- Progress Bar (connecting line) -->
        <div class="progress-bar"></div>

        <!-- Step 4 -->
        <a href="/section4" class="progress-step {% if request.path == '/section4' %}active{% endif %}"
           data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Parent's/Guardian's | Bank Details">
            <span class="step-text" style="font-size:15px">Bank Details</span>
        </a>

        <!-- Progress Bar (connecting line) -->
        <div class="progress-bar"></div>

        <!-- Step 5 -->
        <a href="/section5" class="progress-step {% if request.path == '/section5' %}active{% endif %}"
           data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Documents">
            <span class="step-text" style="font-size:15px">Documents</span>
        </a>
    </div>
</div>
