<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - Fellowship</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/admin_assets/img/favicon.png" rel="icon">
  <link href="static/admin_assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename = 'admin_assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="static/admin_assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='admin_assets/css/style.css')}}" rel="stylesheet">
</head>

{% include 'Admin/layout/header.html' %}
{% include 'Admin/layout/sidebar.html' %}



<div id="main" class="main">
  <div class="content-wrapper"></div>
  <div id="recordContainer"></div>


  <!-- Table to display student applications -->
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          <div class="pagetitle">
            <h1>Student Records</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Student Records</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-6 text-end">
          {% if session['user'] == 'Auditor' %}
             <div class="text-end">
                <a href ="#" class="btn btn-theme export-excel" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Export as Excel">Export to Excel<a>
              </div>
          {% else %}
              <div class="">
                <a href="/export_accepted_students_level2" class="btn  btn-theme" data-bs-toggle="tooltip"
                  data-bs-placement="top" data-bs-original-title="Export as Excel">Export to Excel<a>
              </div>
          {% endif %}

        </div>
        <div class="text-center">
            <h1>LEVEL 2 - ACCEPTED STUDENTS</h1>
        </div><br>
      </div>
      <div class="text-center">
              {% if session['user'] == 'Auditor' %}
                      <a href="#" class="mx-3 export-excel">
                        <button class="btn btn-success">Accepted Students</button>
                      </a>
                      <a href="#" class="mx-3 export-excel">
                        <button class="btn btn-warning">Pending Students</button>
                      </a>
                      <a href="#" class="mx-3 export-excel">
                        <button class="btn btn-danger">Rejected Students</button>
                      </a>
                      <a href="#" class="mx-3 export-excel">
                        <button class="btn btn-primary">PVTG Students(Katkari, Kolam, Madia)</button>
                      </a>
                      <a href="#" class="mx-3 export-excel">
                        <button class="btn btn-info">Disabled Students</button>
                      </a>
              {% else %}
                      <a href="/accepted_students_level2" class="mx-3">
                        <button class="btn btn-success">Accepted Students</button>
                      </a>
                      <a href="/pending_students_level2" class="mx-3">
                        <button class="btn btn-warning">Pending Students</button>
                      </a>
                      <a href="/rejected_students_level2" class="mx-3">
                        <button class="btn btn-danger">Rejected Students</button>
                      </a>
                      <a href="/pvtg_students_level2" class="mx-3">
                        <button class="btn btn-primary">PVTG Students(Katkari, Kolam, Madia)</button>
                      </a>
                      <a href="/disabled_students_level2" class="mx-3">
                        <button class="btn btn-info">Disabled Students</button>
                      </a>
              {% endif %}
      </div><br>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered datatable">
            <thead>
              <tr>
                <th>SNo</th>
                <th>Unique Applicant ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>PhD Registration Date</th>
                <th>View All Details</th>
              </tr>
            </thead>
            <tbody>
                {% if result %}
                    {% for row in result %}
                          <tr>
                            <td>{{loop.index}}</td>
                            <td>{{ row['applicant_id'] }}</td>
                            <td>{{ row['first_name'] }}</td>
                            <td>{{ row['last_name'] }}</td>
                            <td>{{ row['email'] }}</td>
                            <td>{{ row['mobile_number'] }}</td>
                            <td>{{ row['phd_registration_date'] }}</td>
                            <td>
                               <a href="/viewform/{{row['id']}}" class="btn btn-theme btn-sm tooltip-trigger"
                                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="View Form"><i
                                    class="ri-eye-fill"></i></a>
                            </td>
                          </tr>
                      {% endfor %}
                {% else %}
                    <div class="text-danger fw-bold" style="font-size:25px">No Records Found</div>
                {% endif %}
              <!-- Replace this with your backend code to iterate over rows -->

            </tbody>
          </table>
            <div class="text-center">
                      {% if session['user'] == 'Auditor' %}
                              <a href="#" class="mx-3 export-excel">
                                <button class="btn btn-success">Accepted Students</button>
                              </a>
                              <a href="#" class="mx-3 export-excel">
                                <button class="btn btn-warning">Pending Students</button>
                              </a>
                              <a href="#" class="mx-3 export-excel">
                                <button class="btn btn-danger">Rejected Students</button>
                              </a>

                      {% else %}
                              <a href="/accepted_students_level1" class="mx-3">
                                <button class="btn btn-dark">Accepted Students at Level 1</button>
                              </a>
                              <a href="/pending_students_level1" class="mx-3">
                                <button class="btn btn-dark">Pending Students at Level 1</button>
                              </a>
                              <a href="/rejected_students_level1" class="mx-3">
                                <button class="btn btn-dark">Rejected Students at Level 1</button>
                              </a>
                      {% endif %}
              </div><br>
        </div>
      </div>
    </div>
  </div>
    <div class="text-center">
          <a href="/level_two_admin">
            <button class="btn btn-dark">BACK</button>
          </a>
      </div>

</div>
<!-- ======= Footer ======= -->
{% include 'Admin/layout/footer.html' %}
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{{ url_for('static', filename='admin_assets/vendor/apexcharts/apexcharts.min.js')}}"></script>
<script src="{{ url_for('static', filename='admin_assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="static/admin_assets/vendor/chart.js/chart.umd.js"></script>
<script src="static/admin_assets/vendor/echarts/echarts.min.js"></script>
<script src="static/admin_assets/vendor/quill/quill.min.js"></script>
<script src="static/admin_assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="static/admin_assets/vendor/tinymce/tinymce.min.js"></script>
<script src="static/admin_assets/vendor/php-email-form/validate.js"></script>
<script src="{{ url_for('static', filename='admin_assets/js/main.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
  integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static', filename='admin_assets/js/common.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    // Function to handle button click events
      $(document).ready(function() {
        $('.export-excel').click(function(event) {
          event.preventDefault();
          // Check if the user has read-only access
          var hasReadOnlyAccess = true; // Replace this with your logic to determine read-only access
          if (hasReadOnlyAccess) {
            // Show SweetAlert modal
            Swal.fire({
              icon: 'warning',
              title: 'Read Only Access',
              text: 'Please contact the administrator to request Execution Access, as your current access level is Read Only.',
              confirmButtonColor: '#3085d6',
              confirmButtonText: 'OK'
            });
          } else {
            // Continue with button action if user has appropriate access
            // You can add your export or send email logic here
          }
        });
      });
  </script>

</body>

</html>