{% extends "Candidate/layout/layout.html" %}
{% block content %}

  <main id="main" class="main">



    {% if joining_date %}
    <div class="card">
      <div class="card-header bg-light">
        <div class="pagetitle">
          <h1>H.R.A Certificate or Rent Agreement</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/mainpage">Home</a></li>
              <li class="breadcrumb-item">Pages</li>
              <li class="breadcrumb-item active"> H.R.A Certificate or Rent Agreement</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
      </div>
      <div class="card-body py-3">
        <form method="POST" action="/rent_agreement_AA" enctype="multipart/form-data">
          <table class="table datatable">
            <thead>
              <tr>
                <th>Sr No</th>
                <th>Year</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Document Name</th>
                <th>Upload Report <span class="text-danger">*</span></th>
              </tr>
            </thead>
            <tbody>
              {% for i in range(5) %}
              <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ start_dates[i].year }}</td>
                <td>{{ start_dates[i].strftime('%d-%m-%Y') }}</td>
                <td>{{ end_dates[i].strftime('%d-%m-%Y') }}</td>
                <td>Yearly Report {{ i + 1 }}</td>
                <td>
                  {% if loop.index <= submitted_count %} <a href="{{ reports['rent_agreement' ~ (loop.index)] }}"
                    target="_blank" class="btn btn-theme btn-sm tooltip-trigger" data-bs-toggle="tooltip"
                    data-bs-placement="top" data-bs-original-title="View Document"><i class="ri-eye-fill"></i></a>
                    {% else %}
                    {% if loop.index <= submitted_count %} <a href="{{ reports['rent_agreement' ~ (loop.index)] }}"
                      target="_blank">View</a>
                      {% else %}
                      <form method="post" enctype="multipart/form-data">
                        <div class="row">
                          <div class="col-md-6">
                            <input type="file" name="rent_agreement{{ loop.index }}" accept=".pdf"
                              class="form-control file_validation"
                              required {% if submitted_documents|length + 1 != loop.index %}
                                  disabled="true"
                              {% endif %}
                            >
                          </div>
                          <div class="col-md-6">
                            <button type="submit" class="btn btn-dark">Upload</button>
                          </div>
                        </div>
                      </form>
                      {% endif %}
                      {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </form>
      </div>
    </div>

    {% else %}
    <p>Joining date not available.</p>
    {% endif %}

  </main>

{% endblock %}