<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Application Details | Fellowship</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='admin_assets/img/favicon.png')}}" rel="icon">
  <link href="{{ url_for('static', filename='admin_assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='admin_assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin_assets/vendor/bootstrap-icons/bootstrap-icons.css')}}"
    rel="stylesheet">
  <link href="{{ url_for('static', filename='admin_assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin_assets/vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin_assets/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin_assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin_assets/vendor/simple-datatables/style.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='admin_assets/css/style.css')}}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->

  {% include 'Candidate/layout/header.html' %}
  {% include 'Candidate/layout/sidebar.html' %}

  <!-- End Header -->



  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Application Details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Details</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">

      <div class="row ">
        <div class="col-xl-12">
          {% if year >= 2023 %}
                <div class="card mb-4">
            <div class="card-body"><br>
                <h4 class="text-primary text-center fw-bold">Member Details</h4>
                <div class="row">
                    {% for row in result %}
                    <div class="row">
                      <div class="col-md-2 border-end">
                          <div class="card-body profile-card pt-4 d-flex flex-column align-items-left">
                            {% if row['applicant_photo'] %}
                              <img src="{{ row['applicant_photo'] }}" style="width: 100%; height: 100%;">
                            {% elif row['applicant_photo'] is none  %}
                              <img src="/static/assets/img/default_user.png" alt="Profile" class="rounded-circle">
                            {% endif %}
                            <div class="mt-3">
                                <h5>{{ row['first_name'] }} {{ row['middle_name'] }} {{ row['last_name'] }}</h5>
                            </div>
                          </div>
                      </div>
                      <div class="col-md-10 ps-5">
                          <div class="row">
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Student ID</label>
                                        <p class="form-control-plaintext text-secondary">{{ row['applicant_id'] }}</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Mobile Number</label>
                                        <p class="form-control-plaintext text-secondary">{{ row['mobile_number'] }}</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Email ID</label>
                                        <p class="form-control-plaintext text-secondary">{{ row['email'] }}</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Gender</label>
                                        <p class="form-control-plaintext text-secondary">{{ row['gender'] }}</p>
                                    </div>
                                </div>
                          </div>
                          <div class="row">
                                <h5 class="card-title text-primary fw-bold">Application Status</h5>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Pre Scrutiny Status</label>
                                        <p class="form-control-plaintext text-secondary">
                                              {% if(row['status'] == 'accepted') %}
                                              <span class="text-success fw-bold text-capitalize"> {{ row['status'] }}</span>
                                              {% elif(row['status'] =='pending') %}
                                              <span class="text-warning fw-bold text-capitalize"> {{ row['status'] }}</span>
                                              {% else %}
                                              <span class="text-danger fw-bold text-capitalize"> {{ row['status'] }}</span>
                                              {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Scrutiny Status</label>
                                        <p class="form-control-plaintext text-secondary">
                                              {% if(row['scrutiny_status'] == 'accepted') %}
                                              <span class="text-success fw-bold text-capitalize"> {{ row['scrutiny_status'] }}</span>
                                              {% elif(row['scrutiny_status'] =='pending') %}
                                              <span class="text-warning fw-bold text-capitalize"> {{ row['scrutiny_status'] }}</span>
                                              {% else %}
                                              <span class="text-danger fw-bold text-capitalize"> {{ row['scrutiny_status'] }}</span>
                                              {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Final Approval</label>
                                        <p class="form-control-plaintext text-secondary">
                                            {% if(row['final_approval'] == 'accepted') %}
                                            <span class="text-success fw-bold text-capitalize"> {{ row['final_approval'] }}</span>
                                            {% elif(row['final_approval'] =='pending') %}
                                            <span class="text-warning fw-bold text-capitalize"> {{ row['final_approval'] }}</span>
                                            {% else %}
                                            <span class="text-danger fw-bold text-capitalize"> {{ row['final_approval'] }}</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                          </div>
                      </div>
                    </div>
                    {% endfor %}
                </div><br>

                <h4 class="text-primary text-center fw-bold">Fee List</h4>
                <div class="row text-center">
                            {% for row in result %}
                                <div class="col-md-2">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Intallment 1</label>
                                        <p class="form-control-plaintext text-primary fw-bold">
                                            {% if installments is none %}
                                                <span class="text-danger fw-bold">NOT PAID</span>
                                            {% else %}
                                                {% if installments['recieved_pay'] is none %}
                                                    <span class="text-danger fw-bold">NOT PAID</span>
                                                {% else %}
                                                    <span class="text-success fw-bold">PAID - INR {{ installments['recieved_pay'] }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Intallment 2</label>
                                        <p class="form-control-plaintext text-primary fw-bold">
                                            {% if installments is none %}
                                                <span class="text-danger fw-bold">NOT PAID</span>
                                            {% else %}
                                                {% if installments['recieved_pay_2'] %}
                                                    <span class="text-success fw-bold">PAID - INR {{ installments['recieved_pay_2'] }}</span>
                                                {% else %}
                                                    <span class="text-danger fw-bold">NOT PAID</span>
                                                {% endif %}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Intallment 3</label>
                                        <p class="form-control-plaintext text-primary fw-bold">
                                            {% if installments is none %}
                                                <span class="text-danger fw-bold">NOT PAID</span>
                                            {% else %}
                                                {% if installments['recieved_pay_3'] %}
                                                    <span class="text-success fw-bold">PAID - INR {{ installments['recieved_pay_3'] }}</span>
                                                {% else %}
                                                    <span class="text-danger fw-bold">NOT PAID</span>
                                                {% endif %}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Fees Paid</label>
                                        <p class="form-control-plaintext text-success fw-bold">
                                            {% if installments is none %}
                                                --
                                            {% else %}
                                                {% set total_sum = 0 %}
                                                {% set total_sum = total_sum + (installments['recieved_pay']|default('0')|float) %}
                                                {% set total_sum = total_sum + (installments['recieved_pay_2']|default('0')|float) %}
                                                {% set total_sum = total_sum + (installments['recieved_pay_3']|default('0')|float) %}
                                                {% set total_sum = total_sum + (installments['recieved_pay_4']|default('0')|float) %}
                                                {{ total_sum }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Pending Fees</label>
                                        <p class="form-control-plaintext text-danger fw-bold">
                                            {% if installments is none %}
                                                --
                                            {% else %}
                                                {% set total_sum = 0 %}
                                                {% set total_sum = total_sum + (installments['recieved_pay']|default('0')|float) %}
                                                {% set total_sum = total_sum + (installments['recieved_pay_2']|default('0')|float) %}
                                                {% set total_sum = total_sum + (installments['recieved_pay_3']|default('0')|float) %}
                                                {% set total_sum = total_sum + (installments['recieved_pay_4']|default('0')|float) %}
                                                {{ total_sum | int - 93000 }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
            </div><br>


            <div class="p-3">
                <h4 class="text-primary text-center fw-bold">Fees installment list</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                          <th scope="col">Sr No</th>
                          <th scope="col">Period</th>
                          <th scope="col">Start Period</th>
                          <th scope="col">End Period</th>
                          <th scope="col">Balance</th>
                          <th scope="col">Installment Number</th>
                          <th scope="col">Payment Status</th>
                          <th scope="col">Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                          <tr class="text-center">
                                <td>1</td>
                                <td>{{ installment_1['period'] }} Months</td>
                                <td>{{ installment_1['start_period'] }}</td>
                                <td>{{ installment_1['end_period'] }}</td>
                                <td>{{ installment_1['balance'] }}</td>
                                <td>{{ installment_1['installment_number'] }}</td>
                                <td>
                                    {% if installments['status_paid'] is none %}
                                        <span class="text-danger fw-bold">Not Paid</span>
                                    {% else %}
                                        <span class="text-success fw-bold">{{ installments['status_paid'] }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ installment_1['due_date'] }}</td>
                          </tr>
                          <tr class="text-center">
                                <td>1</td>
                                <td>{{ installment_2['period'] }} Months</td>
                                <td>{{ installment_2['start_period'] }}</td>
                                <td>{{ installment_2['end_period'] }}</td>
                                <td>{{ installment_2['balance'] }}</td>
                                <td>{{ installment_2['installment_number'] }}</td>
                                <td>
                                    {% if installments['status_paid_2'] is none %}
                                        <span class="text-danger fw-bold">Not Paid</span>
                                    {% else %}
                                        <span class="text-success fw-bold">{{ installments['status_paid'] }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ installment_2['due_date'] }}</td>
                          </tr>
                          <tr class="text-center">
                                <td>1</td>
                                <td>{{ installment_3['period'] }} Months</td>
                                <td>{{ installment_3['start_period'] }}</td>
                                <td>{{ installment_3['end_period'] }}</td>
                                <td>{{ installment_3['balance'] }}</td>
                                <td>{{ installment_3['installment_number'] }}</td>
                                <td>
                                    {% if installments['status_paid_3'] is none %}
                                        <span class="text-danger fw-bold">Not Paid</span>
                                    {% else %}
                                        <span class="text-success fw-bold">{{ installments['status_paid_3'] }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ installment_3['due_date'] }}</td>
                          </tr>
                        <tr>
                            <td colspan="4" class="text-end fw-bold">Total</td>
                            <td class="fw-bold text-center">93000</td>
                            <td colspan="4"></td>
                        </tr>
                    </tbody>
                </table>
            </div><br>

            <div class="p-3">
                <h4 class="text-primary text-center fw-bold">Payment Records</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Full Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Faculty</th>
                            <th scope="col">Starting Duration Date</th>
                            <th scope="col">Ending Duration Date</th>
                            <th scope="col">Total Months</th>
                            <th scope="col">Fellowship</th>
                            <th scope="col">Total Fellowship</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Fellowship</th>
                            <th scope="col">Months</th>
                            <th scope="col">Total House Rent Allowance</th>
                            <th scope="col">Count</th>
                            <th scope="col">PWD</th>
                            <th scope="col">Total</th>
                            <th scope="col">City</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in record %}
                          <tr>
                            <td>{{ row['full_name'] }}</td>
                            <td>{{ row['email'] }}</td>
                            <td>{{ row['faculty'] }}</td>
                            <td>{{ row['duration_date_from'] }}</td>
                            <td>{{ row['duration_date_to'] }}</td>
                            <td>{{ row['total_months'] }}</td>
                            <td>{{ row['fellowship'] }}</td>
                            <td>{{ row['to_fellowship'] }}</td>
                            <td>{{ row['rate'] }}</td>
                            <td>{{ row['amount'] }}</td>
                            <td>{{ row['fellowship'] }}</td>
                            <td>{{ row['months'] }}</td>
                            <td>{{ row['total_hra'] }}</td>
                            <td>{{ row['count'] }}</td>
                            <td>{{ row['pwd'] }}</td>
                            <td>{{ row['total'] }}</td>
                            <td>{{ row['city'] }}</td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


          </div>
          {% else %}
                <div class="card mb-4">
                    <!-- Member Details-->
                    <div class="card-body"><br>
                        <h4 class="text-primary text-center fw-bold">Member Details</h4>
                        <div class="row">
                            {% for row in result %}
                            <div class="row">
                              <div class="col-md-2 border-end">
                                  <div class="card-body profile-card pt-4 d-flex flex-column align-items-left">
                                    {% if row['applicant_photo'] %}
                                      <img src="{{ row['applicant_photo'] }}" style="width: 100%; height: 100%;">
                                    {% elif row['applicant_photo'] is none  %}
                                      <img src="/static/assets/img/default_user.png" alt="Profile" class="rounded-circle">
                                    {% endif %}
                                    <div class="mt-3">
                                        <h5>{{ row['first_name'] }} {{ row['middle_name'] }} {{ row['last_name'] }}</h5>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-10 ps-5">
                                  <div class="row">
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label class="form-label text-dark fw-bold">Student ID</label>
                                                <p class="form-control-plaintext text-secondary">{{ row['applicant_id'] }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label class="form-label text-dark fw-bold">Mobile Number</label>
                                                <p class="form-control-plaintext text-secondary">{{ row['mobile_number'] }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label class="form-label text-dark fw-bold">Email ID</label>
                                                <p class="form-control-plaintext text-secondary">{{ row['email'] }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label class="form-label text-dark fw-bold">Gender</label>
                                                <p class="form-control-plaintext text-secondary">{{ row['gender'] }}</p>
                                            </div>
                                        </div>
                                  </div>
                                  <div class="row">
                                        <h5 class="card-title text-primary fw-bold">Application Status</h5>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label class="form-label text-dark fw-bold">Pre Scrutiny Status</label>
                                                <p class="form-control-plaintext text-secondary">
                                                      {% if(row['status'] == 'accepted') %}
                                                      <span class="text-success fw-bold text-capitalize"> {{ row['status'] }}</span>
                                                      {% elif(row['status'] =='pending') %}
                                                      <span class="text-warning fw-bold text-capitalize"> {{ row['status'] }}</span>
                                                      {% else %}
                                                      <span class="text-danger fw-bold text-capitalize"> {{ row['status'] }}</span>
                                                      {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label class="form-label text-dark fw-bold">Scrutiny Status</label>
                                                <p class="form-control-plaintext text-secondary">
                                                      {% if(row['scrutiny_status'] == 'accepted') %}
                                                      <span class="text-success fw-bold text-capitalize"> {{ row['scrutiny_status'] }}</span>
                                                      {% elif(row['scrutiny_status'] =='pending') %}
                                                      <span class="text-warning fw-bold text-capitalize"> {{ row['scrutiny_status'] }}</span>
                                                      {% else %}
                                                      <span class="text-danger fw-bold text-capitalize"> {{ row['scrutiny_status'] }}</span>
                                                      {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label class="form-label text-dark fw-bold">Final Approval</label>
                                                <p class="form-control-plaintext text-secondary">
                                                    {% if(row['final_approval'] == 'accepted') %}
                                                    <span class="text-success fw-bold text-capitalize"> {{ row['final_approval'] }}</span>
                                                    {% elif(row['final_approval'] =='pending') %}
                                                    <span class="text-warning fw-bold text-capitalize"> {{ row['final_approval'] }}</span>
                                                    {% else %}
                                                    <span class="text-danger fw-bold text-capitalize"> {{ row['final_approval'] }}</span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                  </div>
                              </div>
                            </div>
                            {% endfor %}
                        </div><br><hr>

                        <h4 class="text-primary text-center fw-bold">Fee List</h4>
                        <div class="row text-center">
                            {% for row in result %}
                                <div class="col-md-2">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Intallment 1</label>
                                        <p class="form-control-plaintext text-primary fw-bold">
                                            {% if installments is none %}
                                                <span class="text-danger fw-bold">NOT PAID</span>
                                            {% else %}
                                                {% if installments['recieved_pay'] is none %}
                                                    <span class="text-danger fw-bold">NOT PAID</span>
                                                {% else %}
                                                    <span class="text-success fw-bold">PAID - INR {{ installments['recieved_pay'] }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Intallment 2</label>
                                        <p class="form-control-plaintext text-primary fw-bold">
                                            {% if installments is none %}
                                                <span class="text-danger fw-bold">NOT PAID</span>
                                            {% else %}
                                                {% if installments['recieved_pay_2'] %}
                                                    <span class="text-success fw-bold">PAID - INR {{ installments['recieved_pay_2'] }}</span>
                                                {% else %}
                                                    <span class="text-danger fw-bold">NOT PAID</span>
                                                {% endif %}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Intallment 3</label>
                                        <p class="form-control-plaintext text-primary fw-bold">
                                            {% if installments is none %}
                                                <span class="text-danger fw-bold">NOT PAID</span>
                                            {% else %}
                                                {% if installments['recieved_pay_3'] %}
                                                    <span class="text-success fw-bold">PAID - INR {{ installments['recieved_pay_3'] }}</span>
                                                {% else %}
                                                    <span class="text-danger fw-bold">NOT PAID</span>
                                                {% endif %}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Fees Paid</label>
                                        <p class="form-control-plaintext text-success fw-bold">
                                            {% if installments is none %}
                                                --
                                            {% else %}
                                                {% set total_sum = 0 %}
                                                {% set total_sum = total_sum + (installments['recieved_pay']|default('0')|float) %}
                                                {% set total_sum = total_sum + (installments['recieved_pay_2']|default('0')|float) %}
                                                {% set total_sum = total_sum + (installments['recieved_pay_3']|default('0')|float) %}
                                                {% set total_sum = total_sum + (installments['recieved_pay_4']|default('0')|float) %}
                                                {{ total_sum }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3">
                                        <label class="form-label text-dark fw-bold">Pending Fees</label>
                                        <p class="form-control-plaintext text-danger fw-bold">
                                            {% if installments is none %}
                                                --
                                            {% else %}
                                                {% set total_sum = 0 %}
                                                {% set total_sum = total_sum + (installments['recieved_pay']|default('0')|float) %}
                                                {% set total_sum = total_sum + (installments['recieved_pay_2']|default('0')|float) %}
                                                {% set total_sum = total_sum + (installments['recieved_pay_3']|default('0')|float) %}
                                                {% set total_sum = total_sum + (installments['recieved_pay_4']|default('0')|float) %}
                                                {{ total_sum | int - 93000 }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div><br>
                    <!-- End Member Details-->

                    <!-- Fee Installment List-->
                    {% if installments %}
                    <div class="p-3">
                        <h4 class="text-primary text-center fw-bold">Fees installment list</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                  <th scope="col">Email</th>
                                  <th scope="col">Installment Number</th>
                                  <th scope="col">Start Period</th>
                                  <th scope="col">End Period</th>
                                  <th scope="col">Recieved Pay</th>
                                  <th scope="col">Recieved Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if installments %}
                                  <tr class="text-center">
                                    <td>{{ installments['email'] }}</td>
                                    <td>{{ installments['inst_num'] }}</td>
                                    <td>{{ installments['start_period'] }}</td>
                                    <td>{{ installments['end_period'] }}</td>
                                    <td>{{ installments['recieved_pay'] }}</td>
                                    <td>{{ installments['recieved_date'] }}</td>
                                  </tr>

                                  {% if installments['inst_num_2'] is none %}
                                  {% else %}
                                  <tr class="text-center">
                                    <td colspan="1"></td>
                                    <td>{{ installments['inst_num_2'] }}</td>
                                    <td>{{ installments['start_period_2'] }}</td>
                                    <td>{{ installments['end_period_2'] }}</td>
                                    <td>{{ installments['recieved_pay_2'] }}</td>
                                    <td>{{ installments['recieved_date_2'] }}</td>
                                  </tr>
                                  {% endif %}

                                  {% if installments['inst_num_3'] is none %}
                                  {% else %}
                                  <tr class="text-center">
                                    <td colspan="1"></td>
                                    <td>{{ installments['inst_num_3'] }}</td>
                                    <td>{{ installments['start_period_3'] }}</td>
                                    <td>{{ installments['end_period_3'] }}</td>
                                    <td>{{ installments['recieved_pay_3'] }}</td>
                                    <td>{{ installments['recieved_date_3'] }}</td>
                                  </tr>
                                  {% endif %}

                                  {% if installments['inst_num_4'] is none %}
                                  {% else %}
                                  <tr class="text-center">
                                    <td colspan="1"></td>
                                    <td>{{ installments['inst_num_4'] }}</td>
                                    <td>{{ installments['start_period_4'] }}</td>
                                    <td>{{ installments['end_period_4'] }}</td>
                                    <td>{{ installments['recieved_pay_4'] }}</td>
                                    <td>{{ installments['recieved_date_4'] }}</td>
                                  </tr>
                                  {% endif %}
                                  <tr class="text-center">
                                      <td colspan="4" class="fw-bold">Total</td>
                                      {% set total_sum = 0 %}
                                      {% set total_sum = total_sum + (installments['recieved_pay']|default('0')|float) %}
                                      {% set total_sum = total_sum + (installments['recieved_pay_2']|default('0')|float) %}
                                      {% set total_sum = total_sum + (installments['recieved_pay_3']|default('0')|float) %}
                                      {% set total_sum = total_sum + (installments['recieved_pay_4']|default('0')|float) %}
                                      <td class="fw-bold">{{ total_sum }}</td>
                                  </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div><br><hr>
                    {% else %}
                    {% endif %}
                    <!-- End Fee Installment List-->

                    <!-- Form for Submitting Installments Details-->
                    <h4 class="text-center text-primary">Enter Details for Installments</h4>
                    <form action="/submit_installments" method="POST" class="mb-5">
                        {% for row in result %}
                            <div class="col-md-12 ms-4">
                                <!-- Static Row -->
                                <div id="static-row" class="row">
                                    <div class="col-md-2">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" value="{{ row['email'] }}" readonly>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label">Instal. No.</label>
                                        <select name="inst_num" id="inst_num" class="form-select">
                                            {% if installments['recieved_pay'] is none %}
                                            <option value="">Default</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            {% elif installments['recieved_pay_2'] is none %}
                                            <option value="">Default</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            {% elif installments['recieved_pay_3'] is none %}
                                            <option value="">Default</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            {% elif installments['recieved_pay_4'] is none %}
                                            <option value="">Default</option>
                                            <option value="4">4</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label">Start Period</label>
                                        <input type="date" class="form-control" name="start_period">
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label">End Period</label>
                                        <input type="date" class="form-control" name="end_period">
                                    </div>
                                    <div class="col-md-1">
                                        <label class="form-label">Rec. Amount</label>
                                        <input type="text" class="form-control" name="recieved_pay" maxlength="6" placeholder="INR 31000">
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label">Received Date</label>
                                        <input type="date" class="form-control" name="recieved_date">
                                    </div>
                                </div>

                            </div>

                            <!-- Submit Button -->
                            <div class="mt-4 row text-center">
                                <a href="#">
                                    <button class="btn btn-primary btn-sm">Submit Details</button>
                                </a>
                            </div>
                        {% endfor %}
                    </form>
                    <!-- End Form for Submitting Installments Details-->
                </div>
          {% endif %}
        </div>


       </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'Candidate/layout/footer.html' %}

  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='admin_assets/vendor/apexcharts/apexcharts.min.js')}}"></script>
  <script src="{{ url_for('static', filename='admin_assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='admin_assets/vendor/chart.js/chart.umd.js')}}"></script>
  <script src="{{ url_for('static', filename='admin_assets/vendor/echarts/echarts.min.js')}}"></script>
  <script src="{{ url_for('static', filename='admin_assets/vendor/quill/quill.min.js')}}"></script>
  <script src="{{ url_for('static', filename='admin_assets/vendor/simple-datatables/simple-datatables.js')}}"></script>
  <script src="{{ url_for('static', filename='admin_assets/vendor/tinymce/tinymce.min.js')}}"></script>
  <script src="{{ url_for('static', filename='admin_assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="static/admin_assets/js/admin/bulkEmail.js"></script>
  <script src="{{ url_for('static', filename='admin_assets/js/main.js')}}"></script>


</body>

</html>