{% extends "Candidate/layout/layout.html" %}

{% block content %}

    <!-- End Sidebar-->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Application Form</span></i>
                </a>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
                <a class="nav-link" href="/app_form_info">
                    <i class="bi bi-arrow-down-right-square-fill"></i><span>Basic Form Information</span></i>
                </a>
            </li>
        </ul>
    </aside>


    <!-- MAIN -->
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Application Form</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Home</a></li>
                    <li class="breadcrumb-item">Pages</li>
                    <li class="breadcrumb-item active">App Form</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section contact">
            <div class="">
                {% include 'Candidate/layout/steps.html' %}
                <form method="POST" action="/section3" class="needs-validation" novalidate=""
                    enctype="multipart/form-data" id="section3">
                    <div class="card">
                        <div class="page-3">
                            <div class="card-header bg-light">
                                <h5 class="card-title p-0">Domicile Details / अधिवास तपशील </h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group row my-2">
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Domicile of Maharashtra<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Are you domicile of Maharashtra State">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        {% if view_mode=='view' %}
                                            <input type="text" value="{{ existing_record['domicile'] }}" name="domicile" id="domicile" class="form-control" disabled>
                                        {% else %}
                                        <select name="domicile" id="domocile" class="form-control" {% if
                                            view_mode=='view' %}readonly{% endif %} required>
                                            <option value=""> --- Select Option ---</option>
                                            <option value="Yes" {% if(existing_record['domicile']=='Yes' ) %} selected
                                                {%endif%}>Yes</option>
                                            <option value="No" {% if(existing_record['domicile']=='No' ) %} selected
                                                {%endif%}>No</option>
                                        </select>
                                        {% endif %}
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please select Yes or No
                                            <br> If No, then the fields will be disabled
                                        </div>
                                    </div>
                                    <div class="col-md-8 row" {% if view_mode !='view' %} id="domocile_wrapper" {% endif
                                        %}>
                                        <div class="col-md-6">
                                            <label for="" class="fw-bold">Domicle Certificate Available?<span
                                                    class="text-danger">*</span></label> <i
                                                class="bi bi-arrow-right"></i> <label data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                data-bs-original-title="Do you domicile certificate of Maharashtra State">
                                                <i class="ri-information-fill">Instructions</i></label><br>
                                            {% if view_mode=='view' %}
                                            <input type="text" value="{{ existing_record['domicile_certificate'] }}" name="domicile_certificate" id="domicile_certificate" class="form-control" disabled>
                                            {% else %}
                                            <select name="domicile_certificate" id="domocile_certificate"
                                                class="form-control" {% if view_mode=='view' %}disabled{% endif %}
                                                required disabled>
                                                <option value=""> --- Select Option ---</option>
                                                <option value="Yes" {% if(existing_record['domicile_certificate']=='Yes'
                                                    ) %} selected {%endif%}>Yes</option>
                                                <option value="No" {% if(existing_record['domicile_certificate']=='No' )
                                                    %} selected {%endif%}>No</option>
                                            </select>
                                            {% endif %}
                                            <div class="valid-feedback">
                                                Looks Good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Please enter if you have Domilicile Certificate
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="" class="fw-bold">Domicile Certificate Number<span
                                                    class="text-danger">*</span></label> <i
                                                class="bi bi-arrow-right"></i> <label data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                data-bs-original-title="Please enter certificate Number">
                                                <i class="ri-information-fill">Instructions</i></label><br>

                                            <input type="text" class="form-control"
                                                placeholder="Enter Certificate number" id="domocile_number"
                                                name="domicile_number" size="25" {% if view_mode=='view' %}disabled
                                                value="{{ existing_record['domicile_number'] }}" {% endif %} required readonly>
                                            <div class="valid-feedback">
                                                Looks Good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Please enter the Domicile Certificate Number
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header bg-light">
                                <h5 class="card-title p-0">Caste/Tribe Details / जात तपशील </h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group row my-2">
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Caste/Tribe Certificate<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Do you have caste/tribe certificate">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <select name="caste_certf" id="caste_option" class="form-control" {% if
                                            view_mode=='view' %}disabled{% endif %} required>
                                            <option value=""> --- Select Option ---</option>
                                            <option value="Yes" {% if(existing_record['caste_certf']=='Yes' ) %}
                                                selected {%endif%}>Yes</option>
                                            <option value="No" {% if(existing_record['caste_certf']=='No' ) %} selected
                                                {%endif%}>No</option>
                                            <div class="valid-feedback">
                                                Looks Good!
                                            </div>
                                            <div class="invalid-feedback">
                                                If you dont have Caste Certificate, you cannot apply for this Scheme
                                            </div>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Caste Certificate Number<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Please enter caste certificate number. This field is mandatory">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <input type="text" name="caste_cert_number" id="caste_cert_number"
                                            class="form-control" placeholder="Enter Issuing District Name" minlength="3"
                                            maxlength="25" onblur="validateField(this)"
                                            data-name='Caste Certificate Number' readonly {% if view_mode=='view' %}disabled
                                            value="{{ existing_record['caste_certf_number'] }}" {% endif %} required>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter the Issuing District
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Issuing District<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Please enter caste certificate issuing district. This field is mandatory">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <input type="text" name="issuing_district" id="issuing_district"
                                            class="form-control"
                                            onkeyup="this.value = this.value.replace(/[^a-zA-Z,. \-]/g, '')"
                                            placeholder="Enter Issuing District Name" size="25" readonly {% if
                                            view_mode=='view' %}disabled
                                            value="{{ existing_record['issuing_district'] }}" {% endif %} required>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter the Issuing District
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Issuing Authority<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Please enter caste certificate issuing authority. This field is mandatory">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <input type="text" name="caste_issuing_authority" id="caste_issuing_authority"
                                            class="form-control" placeholder="Enter Issuing Authority Name" size="25"
                                            readonly {% if view_mode=='view' %}disabled
                                            value="{{ existing_record['caste_issuing_authority'] }}" {% endif %}
                                            maxlenghth=15 required>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter the Issuing Authority for Caste/Tribe Certificate
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header bg-light">
                                <h5 class="card-title p-0">Validity Details / जमाती वैधता तपशील </h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group row my-2">
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Validity Certificate<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Do you have validity certificate">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <select name="validity_certificate" id="validity_certificate"
                                            class="form-control" {% if view_mode=='view' %}disabled{% endif %} required>
                                            <option value=""> --- Select Option ---</option>
                                            <option value="Yes" {% if(existing_record['validity_certificate']=='Yes' )
                                                %} selected {%endif%}>Yes</option>
                                            <option value="No" {% if(existing_record['validity_certificate']=='No' ) %}
                                                selected {%endif%}>No</option>
                                            <div class="valid-feedback">
                                                Looks Good!
                                            </div>
                                            <div class="invalid-feedback">
                                                If you dont have Caste Certificate, you cannot apply for this Scheme
                                            </div>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Validity Certificate Number<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Please enter validity certificate number. This field is mandatory">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <input type="text" name="validity_num" id="validity_num" class="form-control"
                                            placeholder="Enter Issuing District Name" size="25" readonly {% if
                                            view_mode=='view' %}disabled value="{{ existing_record['validity_cert_number'] }}"
                                            {% endif %} required>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter the Issuing District
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Issuing District<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Please enter validity certificate issuing district. This field is mandatory">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <input type="text" name="validity_issuing_district"
                                            id="validity_issuing_district" class="form-control"
                                            onkeyup="this.value = this.value.replace(/[^a-zA-Z,. \-]/g, '')"
                                            placeholder="Enter Issuing District Name" size="25" readonly {% if
                                            view_mode=='view' %}disabled
                                            value="{{ existing_record['validity_issuing_district'] }}" {% endif %}
                                            required>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter the Issuing District
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Issuing Authority<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Please enter validity certificate issuing authority. This field is mandatory">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <input type="text" name="validity_issuing_authority"
                                            id="validity_issuing_authority" class="form-control"
                                            placeholder="Enter Issuing Authority Name" size="25" readonly {% if
                                            view_mode=='view' %}disabled
                                            value="{{ existing_record['validity_issuing_authority'] }}" {% endif %}
                                            maxlenghth=15 required>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter the Issuing Authority for Caste/Tribe Certificate
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header bg-light">
                                <h5 class="card-title p-0">Personal Eligibility Details / वैयक्तिक पात्रता तपशील </h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group row my-2">
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Salaried?<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Select if you are salaried or not">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <select name="salaried" class="form-control" {% if view_mode=='view'
                                            %}disabled{% endif %} required>
                                            <option value=""> --- Select Option ---</option>
                                            <option value="Yes" {% if(existing_record['salaried']=='Yes' ) %} selected
                                                {%endif%}>Yes</option>
                                            <option value="No" {% if(existing_record['salaried']=='No' ) %} selected
                                                {%endif%}>No</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please select if you are Salaried
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Any Disability?<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Select if you have any disbaility or not">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <select name="disability" id="disability" class="form-control" {% if
                                            view_mode=='view' %}disabled{% endif %}
                                            value="{{ view_mode == 'view'.disability }}" required>
                                            <option value=""> --- Select Option ---</option>
                                            <option value="Yes" {% if(existing_record['disability']=='Yes' ) %} selected
                                                {%endif%}>Yes</option>
                                            <option value="No" {% if(existing_record['disability']=='No' ) %} selected
                                                {%endif%}>No</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please select if you have a disability or not.
                                            <br> If yes please attach the medical or Disability certificate
                                        </div>
                                    </div>

                                    <div class="col-md-4 d-none" id="typeDisabilityContainer">
                                        <label for="" class="fw-bold">Type of Disability?<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Please select type of disability">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <select name="type_of_disability" id="type_disability" class="form-control" {%
                                            if view_mode=='view' %}disabled{% endif %}
                                            value="{{ view_mode == 'view'.disability }}">
                                            <option value=""> --- Select Option ---</option>
                                            <option value="Physically Handicapped" {%
                                                if(existing_record['type_of_disability']=='Physically Handicapped' ) %}
                                                selected {%endif%}>Physically Handicapped</option>
                                            <option value="Visually Impaired" {%
                                                if(existing_record['type_of_disability']=='Visually Impaired' ) %}
                                                selected {%endif%}>Visually Impaired</option>
                                            <option value="Hearing Impaired" {%
                                                if(existing_record['type_of_disability']=='Hearing Impaired' ) %}
                                                selected {%endif%}>Hearing Impaired</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please select the type of disability.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <a href="/section2">
                                    <button type="button" class="btn btn-warning shadow preview-btn-2"
                                        data-bs-toggle="tooltip" data-bs-title="Previous">Previous</button>
                                </a>
                                {% if not view_mode == 'view' %}
                                <form action="{{ url_for('section3.section3') }}" method="POST">
                                    <button type="submit" class="btn btn-success" data-bs-toggle="tooltip"
                                        data-bs-title="Save">Save & Next</button>
                                </form>
                                {% endif %}
                                <a href="/section4">
                                    <button type="button" class="btn bar-active shadow next-btn-4"
                                        data-bs-toggle="tooltip" data-bs-title="Next">Next</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <!----------------================== END MAIN FORM =====================------------------>

{% endblock %}