{% extends "Candidate/layout/layout.html" %}

{% block content %}

    <!-- End Sidebar-->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Application Form</span></i>
                </a>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
                <a class="nav-link" href="/app_form_info">
                    <i class="bi bi-arrow-down-right-square-fill"></i><span>Basic Form Information</span></i>
                </a>
            </li>
        </ul>
    </aside>


    <!-- MAIN -->
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Application Form</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Home</a></li>
                    <li class="breadcrumb-item">Pages</li>
                    <li class="breadcrumb-item active">App Form</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section contact">
            <div class="">
                {% include 'Candidate/layout/steps.html' %}

            <div class="card">
                <div class="col-md-12">
                <div class="card-header bg-light">
                    <h5 class="card-title p-0">Attach Documents
                        <span class="fw-bold">(Only PDF Allowed)</span>
                    </h5>
                </div>
                <form method="POST" action="/section5" class="needs-validation" novalidate="" enctype="multipart/form-data">
                    <table class="col-md-12 table-bordered table">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>Names</th>
                            <th>Browse</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Document 9 - START -->
                        <tr>
                            <td>1</td>
                            <td>
                                <label for="" class="fw-bold">Your Signature | <span class="text-primary">तुमची स्वाक्षरी</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="Please note that the Signature should be on a plain paper and in blue Ink. Only JPEG, JPG, PNG Allowed. This field is required compulsory">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="signature"
                                                        class="doc_language form-control accept_english accept_img file_validation" id="signature" {% if
                                                        view_mode=='view' %}disabled{% endif %}
                                                        value="{{ view_mode == 'view'.signature }}" required>
                            </td>

                        </tr>
                        <!-- Document 9 - END -->

                        <!-- Document 1 - START -->
                        <tr>
                            <td>2</td>
                            <td>
                                <label for="" class="fw-bold">Adhaar Card / <span class="text-primary">आधार कार्ड</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile1" class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile1"
                                {% if view_mode=='view' %}
                                       disabled
                                {% endif %}
                                value="{{ view_mode == 'view'.documentfile1 }}" required>
                                <div class="fileError" style="color: red;"></div>
                            </td>
                        </tr>
                        <!-- Document 1 - END -->

                        <!-- Document 2 - START -->
                        <tr>
                            <td>3</td>
                            <td>
                                <label for="" class="fw-bold">PAN Card / <span class="text-primary">पॅन कार्ड</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile2"
                                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile2" {% if
                                                        view_mode=='view' %}disabled{% endif %}
                                                        value="{{ view_mode == 'view'.documentfile2 }}" required>
                                <div class="fileError" style="color: red;"></div>
                            </td>
                        </tr>
                        <!-- Document 2 - END -->

                        <!-- Document 3 - START -->
                        <tr>
                            <td>4</td>
                            <td>
                                <label for="" class="fw-bold">Domicile Certificate / <span class="text-primary">अधिवास प्रमाणपत्र</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile3"
                                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile3" {% if
                                                        view_mode=='view' %}disabled{% endif %}
                                                        value="{{ view_mode == 'view'.documentfile3 }}" required>
                                <div class="fileError" style="color: red;"></div>
                            </td>
                        </tr>
                        <!-- Document 3 - END -->

                        <!-- Document 4 - START -->
                        <tr>
                            <td>5</td>
                            <td>
                                <label for="" class="fw-bold">Caste Certificate | <span class="text-primary">जातीचा दाखला</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile4"
                                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile4" {% if
                                                        view_mode=='view' %}disabled{% endif %}
                                                        value="{{ view_mode == 'view'.documentfile4 }}" required>
                                <div class="fileError" style="color: red;"></div>
                            </td>

                        </tr>
                        <!-- Document 4 - END -->

                        <!-- Document 5 - START -->
                        <tr>
                            <td>6</td>
                            <td>
                                <label for="" class="fw-bold">Caste Validity Certificate | <span class="text-primary">जात वैधता प्रमाणपत्र</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile5"
                                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile5" {% if
                                                        view_mode=='view' %}disabled{% endif %}
                                                        value="{{ view_mode == 'view'.documentfile5 }}" required>
                                <div class="fileError" style="color: red;"></div>
                            </td>

                        </tr>
                        <!-- Document 5 - END -->

                        <!-- Document 6 - START -->
                        <tr>
                            <td>7</td>
                            <td>
                                <label for="" class="fw-bold">Income Certificate | <span class="text-primary">उत्पन्नाचा दाखला</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile6"
                                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile6" {% if
                                                        view_mode=='view' %}disabled{% endif %}
                                                        value="{{ view_mode == 'view'.documentfile6 }}" required>
                                <div class="fileError" style="color: red;"></div>
                            </td>

                        </tr>
                        <!-- Document 6 - END -->

                        <!-- Document 7 - START -->
                        <tr>
                            <td>8</td>
                            <td>
                                <label for="" class="fw-bold">10th Marksheet & Passing Certificate | <span class="text-primary">10वी मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile7"
                                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile7" {% if
                                                        view_mode=='view' %}disabled{% endif %}
                                                        value="{{ view_mode == 'view'.documentfile7 }}" required>
                                <div class="fileError" style="color: red;"></div>
                            </td>

                        </tr>
                        <!-- Document 7 - END -->

                        <!-- Document 8 - START -->
                        <tr>
                            <td>9</td>
                            <td>
                                <label for="" class="fw-bold">12th Marksheet & Passing Certificate | <span class="text-primary">12वी मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile8"
                                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile8" {% if
                                                        view_mode=='view' %}disabled{% endif %}
                                                        value="{{ view_mode == 'view'.documentfile8 }}" required>
                                <div class="fileError" style="color: red;"></div>
                            </td>

                        </tr>
                        <!-- Document 8 - END -->

                        <!-- Document 10 - START -->
                        <tr>
                            <td>10</td>
                            <td>
                                <label for="" class="fw-bold">Graduation Marksheet & Passing Certificate | <span class="text-primary">पदवी मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile10"
                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile10"
                                        {% if view_mode=='view' %}disabled{% endif %}
                                        value="{{ view_mode == 'view'.documentfile10 }}"
                                        required
                                />
                                <div class="fileError" style="color: red;"></div>
                            </td>

                        </tr>
                        <!-- Document 10 - END -->

                        <!-- Document 11 - START -->
                        <tr>
                            <td>11</td>
                            <td>
                                <label for="" class="fw-bold">Post-Graduation Marksheet & Passing Certificate | <span class="text-primary">पदव्युत्तर मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile11"
                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile11"
                                        {% if view_mode=='view' %}disabled{% endif %}
                                        value="{{ view_mode == 'view'.documentfile11 }}"
                                       required
                                />
                                <div class="fileError" style="color: red;"></div>
                            </td>

                        </tr>
                        <!-- Document 11 - END -->

                        <!-- Document 12 - START -->
                        <tr>
                            <td>12</td>
                            <td>
                                <label for="" class="fw-bold"><span class="fw-bold text-danger">{{ mphil_selected['have_you_qualified'] }}</span> Marksheet & Passing Certificate | <span class="text-primary">नेट/सेट/पीईटी/एम.फिल मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</span>
                                <span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile12"
                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile12"
                                       {% if view_mode=='view' %}disabled{% endif %}
                                        value="{{ view_mode == 'view'.documentfile12 }}"
                                       required
                                />
                                <div class="fileError" style="color: red;"></div>
                            </td>

                        </tr>
                        <!-- Document 12 - END -->

                        <!-- Document 13 - START -->
                        <tr>
                            <td>13</td>
                            <td>
                                <label for="" class="fw-bold">Ph.D Admission Reciept | <span class="text-primary">पीएच.डी प्रवेशाची पावती</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile13"
                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile13"
                                       {% if view_mode=='view' %}disabled{% endif %}
                                        value="{{ view_mode == 'view'.documentfile13 }}"
                                       required
                                />
                                <div class="fileError" style="color: red;"></div>
                            </td>

                        </tr>
                        <!-- Document 13 - END -->

                        <!-- Document 14 - START -->
                        <tr>
                            <td>14</td>
                            <td>
                                <label for="" class="fw-bold">Guide Allotment Letter | <span class="text-primary">मार्गदर्शक वाटप पत्र</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile14"
                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile14"
                                       {% if view_mode=='view' %}disabled{% endif %}
                                        value="{{ view_mode == 'view'.documentfile14 }}"
                                       required
                                />
                                <div class="fileError" style="color: red;"></div>
                            </td>

                        </tr>
                        <!-- Document 14 - END -->

                        <!-- Document 15 - START -->
                        <tr>
                            <td>15</td>
                            <td>
                                <label for="" class="fw-bold">Guide Acceptance Letter | <span class="text-primary">मार्गदर्शक स्वीकृती पत्र</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile15"
                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile15"
                                       {% if view_mode=='view' %}disabled{% endif %}
                                        value="{{ view_mode == 'view'.documentfile15 }}"
                                       required
                                />
                                <div class="fileError" style="color: red;"></div>
                            </td>

                        </tr>
                        <!-- Document 15 - END -->

                        <!-- Document 16 - START -->
                        <tr>
                            <td>16</td>
                            <td>
                                <label for="" class="fw-bold">Letter of Accpetance from RAC/RRC | <span class="text-primary">RAC/RRC कडून मान्यतेचे पत्र</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile16"
                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile16"
                                       {% if view_mode=='view' %}disabled{% endif %}
                                        value="{{ view_mode == 'view'.documentfile16 }}"
                                       required
                                />
                                <div class="fileError" style="color: red;"></div>
                            </td>

                        </tr>
                        <!-- Document 16 - END -->

                        <!-- Document 17 - START -->
                        <tr>
                            <td>17</td>
                            <td>
                                <label for="" class="fw-bold">Confirmation Letter | <span class="text-primary">पुष्टीकरण पत्र</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile17"
                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile17"
                                       {% if view_mode=='view' %}disabled{% endif %}
                                        value="{{ view_mode == 'view'.documentfile17 }}"
                                       required
                                />
                                <div class="fileError" style="color: red;"></div>
                            </td>

                        </tr>
                        <!-- Document 17 - END -->

                        <!-- Document 18 - START -->
                        <tr>
                            <td>18</td>
                            <td>
                                <label for="" class="fw-bold">Research Center Joining Report | <span class="text-primary">संशोधन केंद्र जॉईनिंग रिपोर्ट</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile18"
                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile18"
                                       {% if view_mode=='view' %}disabled{% endif %}
                                        value="{{ view_mode == 'view'.documentfile18 }}"
                                       required
                                />
                                <div class="fileError" style="color: red;"></div>
                            </td>

                        </tr>
                        <!-- Document 18 - END -->

                        <tr>
                            <td>19</td>
                            <td>
                                <label for="" class="fw-bold">Annexure <span class="text-danger">A</span> (on INR 100 Stamp Paper) & Annexure <span class="text-danger">C</span> | <span class="text-primary">परिशिष्ट A (INR 100 स्टॅम्प पेपरवर) आणि परिशिष्ट क</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile24"
                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile24"
                                       {% if view_mode=='view' %}disabled{% endif %}
                                        value="{{ view_mode == 'view'.documentfile24 }}"
                                       required
                                />
                                <div class="fileError" style="color: red;"></div>
                            </td>
                        </tr>


                        <tr>
                            <td>20</td>
                            <td>
                                <label for="" class="fw-bold">Guide & H.O.D Research Common letter (Annexure <span class="text-danger">B</span>) | <span class="text-primary">केंद्रप्रमुख - संयुक्त प्रमानपत्र</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile19"
                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile19"
                                       {% if view_mode=='view' %}disabled{% endif %}
                                        value="{{ view_mode == 'view'.documentfile19 }}"
                                       required
                                />
                                <div class="fileError" style="color: red;"></div>
                            </td>
                        </tr>

                        <!-- <tr>
                            <td>20</td>
                            <td>
                                <label for="" class="fw-bold">Common Certificate - Annexure B | <span class="text-primary">सामान्य प्रमाणपत्र - परिशिष्ट B</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile25"
                                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile25" {% if
                                                        view_mode=='view' %}disabled{% endif %}
                                                        value="{{ view_mode == 'view'.documentfile25 }}" required>
                            </td>
                        </tr> -->

                        <tr>
                            <td>21</td>
                            <td>
                                <label for="" class="fw-bold"> Annexure <span class="text-danger">D</span> | <span class="text-primary">परिशिष्ट डी</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile26"
                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile26" {% if
                                        view_mode=='view' %}disabled{% endif %}
                                        value="{{ view_mode == 'view'.documentfile26 }}"
                                       required
                                />
                                <div class="fileError" style="color: red;"></div>
                            </td>
                        </tr>


                        <!-- Document 19 - START -->
                        <tr>
                            <td>22</td>
                            <td>
                                <label for="" class="fw-bold">If Disabled - Disability Certificate | <span class="text-primary">अक्षम असल्यास - अपंगत्व प्रमाणपत्र</span> <span class="text-danger">(Not Mandatory)</span>
                                </label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile20"
                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile20"
                                       {% if view_mode=='view' %}disabled{% endif %}
                                        value="{{ view_mode == 'view'.documentfile20 }}"
                                />
                                <div class="fileError" style="color: red;"></div>
                            </td>
                        </tr>


                        <tr>
                            <td>23</td>
                            <td>
                                <label for="" class="fw-bold">Change in Name - Gazzette | <span class="text-primary">नावात बदल - राजपत्र</span><span class="text-danger"> (Not Mandatory)</span>
                                </label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile21"
                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile21"
                                       {% if view_mode=='view' %}disabled{% endif %}
                                        value="{{ view_mode == 'view'.documentfile21 }}"
                                />
                               <div class="fileError" style="color: red;"></div>
                            </td>
                        </tr>


                        <tr>
                            <td>24</td>
                            <td>
                                <label for="" class="fw-bold">Self Written Certificate of not getting scholarship from anywhere | <span class="text-primary">कुठूनही शिष्यवृत्ती न मिळाल्याची प्रतिज्ञा पत्र</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile22"
                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile22"
                                        {% if view_mode=='view' %}disabled{% endif %}
                                        value="{{ view_mode == 'view'.documentfile22 }}"
                                        required
                                />
                                <div class="fileError" style="color: red;"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>
                                <label for="" class="fw-bold">Research Synopsis/ Research Center Allotment letter | <span class="text-primary">संशोधन सारांश/ संशोधन केंद्र वाटप पत्र</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="File Size is maximum 2MB allowed. Only PDF Allowed.">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile23"
                                                        class="form-control accept_english accept_pdf file_validation doc_language" id="documentfile23" {% if
                                                        view_mode=='view' %}disabled{% endif %}
                                                        value="{{ view_mode == 'view'.documentfile23 }}" required>
                                <div class="fileError" style="color: red;"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>26</td>
                            <td>
                                <label for="" class="fw-bold">Adhaar Seeding Document | <span class="text-primary">आधार सीडिंग दस्तऐवज</span><span
                                    class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i> <label
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-original-title="Please upload the document which shows the account linked with Adhaar Card">
                                <i class="ri-information-fill">Instructions</i></label><br>
                            </td>
                            <td>
                                <input type="file" name="documentfile9"
                                                        class="doc_language form-control accept_english accept_img file_validation" id="documentfile9" {% if
                                                        view_mode=='view' %}disabled{% endif %}
                                                        value="{{ view_mode == 'view'.documentfile9 }}">
                                <div class="fileError" style="color: red;"></div>
                            </td>
                        </tr>
                        <!-- Repeat this row structure for the remaining documents -->
                    </tbody>
                </table>
                    <div class="text-center p-3">
                        <a href="/section4">
                                    <button type="button" class="btn btn-warning shadow preview-btn-2"
                                        data-bs-toggle="tooltip" data-bs-title="Previous">Previous</button>
                                </a>
                        <form action="/section5" method="POST">
                            <button type="submit" class="btn bar-active shadow next-btn-5"
                                    data-bs-toggle="tooltip" data-bs-title="Next">Submit</button>
                        </form>
                    </div>
                    </div>
                </form>
            </div>

        </section>
    </main>
    <!----------------================== END MAIN FORM =====================------------------>



{% endblock %}