{% extends "Homepage/layout/layout.html" %}

{% block content %}


<!-- main Content is here -->
<main id="aboutus">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
          <div class="container">

          <div class="d-flex align-items-start">
                  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">{{ multilingual_content[language]['government_decision'] }}</button>
                        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">{{ multilingual_content[language]['circulars'] }}</button>
                        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">{{ multilingual_content[language]['shcolarship_regulations'] }}</button>
                        <button class="nav-link" id="v-pills-info-tab" data-bs-toggle="pill" data-bs-target="#v-pills-info" type="button" role="tab" aria-controls="v-pills-info" aria-selected="false">{{ multilingual_content[language]['margadarshak'] }}</button>
                  </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                        <div class="card p-3">
                            <a class="text-primary" href="/static/gr_page_docs/GR.pdf" target="_blank">Government Resolution (GR)</a>
                        </div>
                        <div class="card p-3 mt-3">
                            <a class="text-primary" href="/static/gr_page_docs/FellowshipGR.pdf" target="_blank">Fellowship Government Resolution (GR)</a>
                        </div>
                    </div>

                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">

                </div>

                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="text-center">Documents Needed for application form submission.</h5>
                                <table class="table table-bordered bg-transparent">
                                      <thead>
                                        <tr>
                                          <th scope="col">No.</th>
                                          <th scope="col">Document</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>1</td>
                                          <td><strong>Adhaar Card</strong> | <span class="fw-bold text-primary">आधार कार्ड</span></td>
                                        </tr>
                                        <tr>
                                          <td>2</td>
                                          <td><strong>PAN Card</strong> | <span class="fw-bold text-primary">पॅन कार्ड</span></td>
                                        </tr>
                                        <tr>
                                          <td>3</td>
                                          <td><strong>Domicile Certificate</strong> | <span class="fw-bold text-primary">अधिवास प्रमाणपत्र</span></td>
                                        </tr>
                                        <tr>
                                          <td>4</td>
                                          <td><strong>Caste Certificate</strong> | <span class="fw-bold text-primary">जातीचा दाखला</span></td>
                                        </tr>
                                        <tr>
                                          <td>5</td>
                                          <td><strong>Caste Validity Certificate</strong> | <span class="fw-bold text-primary">जात वैधता प्रमाणपत्र</span></td>
                                        </tr>
                                        <tr>
                                          <td>6</td>
                                          <td><strong>Income Certificate</strong> | <span class="fw-bold text-primary">उत्पन्नाचा दाखला</span></td>
                                        </tr>
                                        <tr>
                                          <td>7</td>
                                          <td><strong>10th Marksheet & Passing Certificate</strong> | <span class="fw-bold text-primary">10वी मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</span></td>
                                        </tr>
                                        <tr>
                                          <td>8</td>
                                          <td><strong>12th Marksheet & Passing Certificate</strong> | <span class="fw-bold text-primary">12वी मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</span></td>
                                        </tr>
                                        <tr>
                                          <td>9</td>
                                          <td><strong>Diploma Marksheet & Passing Certificate</strong> | <span class="fw-bold text-primary">डिप्लोमा मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</span></td>
                                        </tr>
                                        <tr>
                                          <td>10</td>
                                          <td><strong>Graduation Marksheet & Passing Certificate</strong> | <span class="fw-bold text-primary">पदवी मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</span></td>
                                        </tr>
                                        <tr>
                                          <td>11</td>
                                          <td><strong>Post-Graduation Marksheet & Passing Certificate</strong> | <span class="fw-bold text-primary">पदव्युत्तर मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</span></td>
                                        </tr>
                                        <tr>
                                          <td>12</td>
                                          <td><strong>NET/SET/PET/M.Phil Marksheet & Passing Certificate</strong> | <span class="fw-bold text-primary">नेट/सेट/पीईटी/एम.फिल मार्कशीट आणि उत्तीर्ण प्रमाणपत्र</span></td>
                                        </tr>
                                        <tr>
                                          <td>13</td>
                                          <td><strong>Ph.D Admission Reciept</strong> | <span class="fw-bold text-primary">पीएच.डी प्रवेशाची पावती</span></td>
                                        </tr>
                                        <tr>
                                          <td>14</td>
                                          <td><strong>Guide Allotment Letter</strong> | <span class="fw-bold text-primary">मार्गदर्शक वाटप पत्</span></td>
                                        </tr>
                                        <tr>
                                          <td>15</td>
                                          <td><strong>Guide Acceptance Letter</strong> | <span class="fw-bold text-primary">मार्गदर्शक स्वीकृती पत्र</span></td>
                                        </tr>
                                        <tr>
                                          <td>16</td>
                                          <td><strong>Letter of Accpetance from RAC/RRC</strong> | <span class="fw-bold text-primary">RAC/RRC कडून मान्यतेचे पत्र</span></td>
                                        </tr>
                                        <tr>
                                          <td>17</td>
                                          <td><strong>Confirmation Letter</strong> | <span class="fw-bold text-primary">पुष्टीकरण पत्र</span></td>
                                        </tr>
                                        <tr>
                                          <td>18</td>
                                          <td><strong>Research Center Joining Report</strong> | <span class="fw-bold text-primary">संशोधन केंद्र जॉईनिंग रिपोर्ट</span></td>
                                        </tr>
                                        <tr>
                                          <td>19</td>
                                          <td><strong>Kendra Pramukh - Sanyukta Pramanpatra</strong> | <span class="fw-bold text-primary">केंद्रप्रमुख - संयुक्त प्रमानपत्र</span></td>
                                        </tr>
                                        <tr>
                                          <td>20</td>
                                          <td><strong>If Disabled - Disability Certificate</strong> | <span class="fw-bold text-primary">अक्षम असल्यास - अपंगत्व प्रमाणपत्र</span></td>
                                        </tr>
                                        <tr>
                                          <td>21</td>
                                          <td><strong>Change in Name - Gazzette</strong> | <span class="fw-bold text-primary">नावात बदल - राजपत्र</span></td>
                                        </tr>
                                        <tr>
                                          <td>22</td>
                                          <td><strong>Acknowledgement of not getting scholarship from anywhere</strong> | <span class="fw-bold text-primary">कुठूनही शिष्यवृत्ती न मिळाल्याची पावती</span></td>
                                        </tr>
                                        <tr>
                                          <td>23</td>
                                          <td><strong>Research Synopsis/ Research Center Allotment letter</strong> | <span class="fw-bold text-primary">संशोधन सारांश/ संशोधन केंद्र वाटप पत्र</span></td>
                                        </tr>
                                      </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab" tabindex="0">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="card p-3">
                                                <a href="/static/gr_page_docs/STRF Fellowship Guidelines.pdf" target="_blank">
                                                    1. STRF Fellowship Guidelines
                                                </a>
                                            </div>
                                            <br>
                                            <div class="card p-3">
                                                <a href="/static/gr_page_docs/annexure.pdf" target="_blank">
                                                    2. Annexure
                                                </a>
                                            </div>
                                            <br>
                                            <div class="card p-3">
                                                <a href="/static/gr_page_docs/GR.pdf" target="_blank">
                                                    3. Government Resolution
                                                </a>
                                            </div>
                                            <div class="card p-3 mt-3">
                                                <a href="/static/gr_page_docs/FellowshipGR.pdf" target="_blank">
                                                    10. Fellowship Government Resolution
                                                </a>
                                            </div>
                                            <br>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card p-3">
                                                <a href="/static/gr_page_docs/Advertisement - English.jpeg" target="_blank">
                                                    4. Advertisement in English
                                                </a>
                                            </div>
                                            <br>
                                            <div class="card p-3">
                                                <a href="/static/gr_page_docs/Advertisement - Marathi.jpeg" target="_blank">
                                                    5. Advertisement in Marathi
                                                </a>
                                            </div><br>
                                            <div class="card p-3">
                                                <a href="/static/gr_page_docs/UNDERTACKIN.docx" target="_blank">
                                                    6. Understanding for the Candidate Pursuing Ph.D.
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card p-3">
                                                <a href="/static/gr_page_docs/Annexure-II-Half-yearly-report.pdf" target="_blank">
                                                    7. Annexure-II-Half-yearly-report
                                                </a>
                                            </div>
                                            <br>
                                            <div class="card p-3">
                                                <a href="/static/gr_page_docs/H.R.A Certificate.pdf" target="_blank">
                                                    8. H.R.A Certificate
                                                </a>
                                            </div><br>
                                            <div class="card p-3">
                                                <a href="/static/gr_page_docs/Utilization of contigency amount Format.pdf" target="_blank">
                                                    9. Utilization of contigency amount Format.pdf
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
        </div>



          </div>
        </section><!-- End Breadcrumbs -->

    </main>


{% endblock %}
    <script>

    </script>
