{% extends 'CandidatePages/layout/layout.html' %}
{% block content %}

<!-- Table Product -->
<div class="row">
    <div class="col-12">
        <div class="card card-default">
            <div class="col-auto mt-3">
               <a href="#" class="btn btn-primary btn-sm text-white">Generate PDF Form</a>
            </div>
            <div class="card-header justify-content-center">
                  <!-- Center Content -->
                  <div class="text-center">
                      <div class="profile-avata">
                          {% for row in records %}
                          {% set fullname = row['first_name'] + ' ' + row['middle_name'] + ' ' + row['last_name'] %}
                              {% if row['applicant_photo'] %}
                                  <img class="rounded-circle" src="{{ row['applicant_photo'] }}" alt="Avatar Image" style="height: 120px;width: 120px;">
                              {% else %}
                                  <img class="rounded-circle" src="/static/assets/img/default_user.png'" alt="Avatar Image">
                              {% endif %}
                              <span class="h5 d-block mt-3 mb-2">{{ fullname }}</span>
                              <span class="d-block">{{ row['email'] }}</span>
                          {% endfor %}
                      </div>
                  </div>
            </div>


        <div class="card-footer card-profile-footer">
          <ul class="nav nav-border-top justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="/candidate_dashboard">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/adhaar_seeding">Aadhaar Seeding</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="user-profile-settings.html">Manage Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="user-profile-settings.html">Raise Issue</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
              <div class="applicant-cards">
                  <h6 class="mb-3">Adhaar Seeding Document</h6>
                  <!-- Repeat for more applicants -->

              </div>
          </div>

      </div>
    </div>
  </div>

{% endblock %}