<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Fellowship | Login/Signup</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/assets/img/fellow_logo_1.png" rel="icon">
    <link href="/static/assets/img/fellow_logo_1.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/assets/css/style.css" rel="stylesheet">
</head>

<body>



<div class="card shadow p-5 border-0 overflow-hidden " id="signup_wrapper" style="background-color: #fff;">
                <div class="card-body ">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="col-md-12 position-relative ">
                                <form action="/change_password_submit" class="signup_form" method="POST" autocomplete="off">
                                    <h2 class="login_logo_name text-center">Set Password</h2>
                                    <div class="form-group col-md-10 m-auto">
                                        <div class="col-md-12 mb-3">
                                            <label class="text-white">Full Name</label>
                                            <input type="text" class="form-control" name="full_name"
                                                placeholder="Full Name" required="">
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label class="text-white">Email</label>
                                                    <input type="text" class="form-control" name="email" value="{{  session['email'] }}"
                                                        placeholder="Email Address" required="" readonly>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label class="text-white">Password</label>
                                            <input type="password" class="form-control" name="password"
                                                placeholder="Password" required="">
                                        </div>

                                        <div class="col-md-12 mb-3">

                                            <label class="text-white">Confirm Password</label>
                                            <input type="password" class="form-control" name="confirm_password"
                                                placeholder="Confirm password" required="">
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label class="text-white">Registration Year</label>
                                                    <input type="text" class="form-control" name="year" value="{{ year }}"
                                                        placeholder="Enter Current Year" required="" readonly>
                                        </div>
                                    <div>
                                        <button type="submit" class="btn btn-signup text-white"> Set Password </button>

                                    </div>

                                    </div>
                                </form>
                                <div class="blue-bg-1"></div>

                        </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-end justify-content-center flex-column">

                        </div>
                    </div>

                </div>
            </div>


</body>

</html>