<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Congratulation</title>
    <!-- Include your CSS and JavaScript here -->
</head>
<body style="font-family:Montserrat,sans-serif;text-align:center">
    <div class="gray-background" style="padding:0;width:60%;margin:auto;border-radius:5px;box-shadow:0 5px 15px #55efc4;margin-top:100px;position:relative;overflow:hidden;background-color:transparent!important">
        <div class="img-container" style="position:relative;margin-bottom:80px;height:40vh;width:40vh;margin:auto">
            <img src="{{ base_url }}static/Images/award.png" class="image_award" alt="image_award" style="width:300px;height:300px;object-fit:contain;position:absolute;width:30vh;height:50vh;top:0;left:-50;transform:translateX(-50%);z-index:100">
            <img src="{{ base_url }}static/Images/award_2.png" class="image_award_1" alt="image_award" style="position:absolute;top:10vh;left:-5vh;width:100%;transform:rotate(-20deg)">
            <img src="{{ base_url }}static/Images/award_2.png" class="image_award_2" alt="image_award" style="position:absolute;width:100vh;top:10vh;right:-5vh;width:100%;transform:rotate(20deg) scaleX(-1)">
        </div>
        <div class="white-box" style="padding:40px;background-color:#fff;border-radius:5px;z-index:10!important;background:0 0;background-color:transparent!important">
            <h1 style="font-family:Charm,cursive;font-size:49px;padding:0;font-weight:400;margin-top:-20px;color:#0c2e8a">Congratulation</h1>
            <h2 style="margin:0;font-size:32px;color:#0c2e8a;text-transform:uppercase;font-weight:700;position:relative;padding-bottom:3px;margin-top:20px;border-bottom:3px solid #50d8af;width:fit-content;margin:auto">Hello, {{ full_name }}</h2>
            <p style="color:#0c2e8a;font-weight:700;line-height:30px;text-transform:capitalize">Congratulations the status of your application has changed to Accepted!!</p>
            <p style="color:#0c2e8a;font-weight:700;line-height:30px;text-transform:capitalize">Please login to view the status as Accepted for Fellowship</p>
            <p style="color:#0c2e8a;font-weight:700;line-height:30px;text-transform:capitalize">Your Application ID: {{ applicant_id }}</p>
        </div>
    </div>
</body>
</html>
