<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Application Details | Fellowship</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='admin_assets/img/favicon.png')}}" rel="icon">
  <link href="{{ url_for('static', filename='admin_assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='admin_assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin_assets/vendor/bootstrap-icons/bootstrap-icons.css')}}"
    rel="stylesheet">
  <link href="{{ url_for('static', filename='admin_assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin_assets/vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin_assets/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin_assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin_assets/vendor/simple-datatables/style.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='admin_assets/css/style.css')}}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->

  {% include 'admin_templates/header.html' %}
  {% include 'admin_templates/sidebar.html' %}

  <!-- End Header -->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Application Details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Details</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
          {% for row in result %}
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <img src="{{ row['applicant_photo'] }}" style="width: 100%; height: 100%;">
            </div>

            <div class="card-body col-md-11">
              <div class="row align-items-center">
                <div class="col-md-7">
                  <h5 class="card-title ">Application ID : </h5>
                </div>
                <div class="col-md-5 text-start">
                  <span>{{ row['applicant_id'] }}</span>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-7">
                  <h5 class="card-title ">Application Date : </h5>
                </div>
                <div class="col-md-5 text-start">
                  <span> {{ row['application_date'] }}</span>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-7">
                  <h5 class="card-title ">Email : </h5>
                </div>
                <div class="col-md-5 text-start">
                  <span> {{ row['email'] }}</span>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-12">
                  <h5 class="card-title ">Application Status : </h5>
                </div>
                <div class="col-md-12 text-start">
                  <div class="row">
                    <div class="col-md-7 label ">Pre Scrutiny Status:</div>
                    <div class="col-md-5">
                      {% if(row['status'] == 'accepted') %}
                      <span class="text-success fw-bold text-capitalize"> {{ row['status'] }}</span>
                      {% elif(row['status'] =='pending') %}
                      <span class="text-warning fw-bold text-capitalize"> {{ row['status'] }}</span>
                      {% else %}
                      <span class="text-danger fw-bold text-capitalize"> {{ row['status'] }}</span>
                      {% endif %}


                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-7 label ">Scrutiny Status:</div>
                    <div class="col-md-5">
                      {% if(row['scrutiny_status'] == 'accepted') %}
                      <span class="text-success fw-bold text-capitalize"> {{ row['scrutiny_status'] }}</span>
                      {% elif(row['scrutiny_status'] =='pending') %}
                      <span class="text-warning fw-bold text-capitalize"> {{ row['scrutiny_status'] }}</span>
                      {% else %}
                      <span class="text-danger fw-bold text-capitalize"> {{ row['scrutiny_status'] }}</span>
                      {% endif %}


                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-7 label ">Final Approval Status:</div>
                    <div class="col-md-5">
                      {% if(row['final_approval'] == 'accepted') %}
                      <span class="text-success fw-bold text-capitalize"> {{ row['final_approval'] }}</span>
                      {% elif(row['final_approval'] =='pending') %}
                      <span class="text-warning fw-bold text-capitalize"> {{ row['final_approval'] }}</span>
                      {% else %}
                      <span class="text-danger fw-bold text-capitalize"> {{ row['final_approval'] }}</span>
                      {% endif %}
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab"
                    data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab"
                    data-bs-target="#profile-qual">Qualification Details</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Family Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab"
                    data-bs-target="#bank">Bank Details</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab"
                    data-bs-target="#profile-change-password">Document Uploads</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab"
                    data-bs-target="#payment_records">Payment Records</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab"
                    data-bs-target="#joining_report">Joining Report</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab"
                    data-bs-target="#half_yearly_reports">Half yearly Reports</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab"
                    data-bs-target="#hra">House Rent Allowance</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab"
                    data-bs-target="#other_details">Other Details</button>
                </li>


              </ul>
              <div class="tab-content pt-2">
                {% for row in result %}
                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <h5 class="card-title">Personal Details / वैयक्तिक माहिती</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">First Name</div>
                    <div class="col-lg-9 col-md-8">{{ row['first_name'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Second Name</div>
                    <div class="col-lg-9 col-md-8">{{ row['middle_name'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Last Name</div>
                    <div class="col-lg-9 col-md-8">{{ row['last_name'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Mobile Number</div>
                    <div class="col-lg-9 col-md-8">{{ row['mobile_number'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Email</div>
                    <div class="col-lg-9 col-md-8">{{ row['email'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Date of Birth</div>
                    <div class="col-lg-9 col-md-8">{{ row['date_of_birth'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Gender</div>
                    <div class="col-lg-9 col-md-8">{{ row['gender'] }}</div>
                  </div>

                  <h5 class="card-title">Personal Address Details / वैयक्तिक पत्त्याचे तपशील</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Address Line 1</div>
                    <div class="col-lg-9 col-md-8">{{ row['add_1'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Address Line 2</div>
                    <div class="col-lg-9 col-md-8"> {{ row['add_2'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Pincode</div>
                    <div class="col-lg-9 col-md-8"> {{ row['pincode'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Village</div>
                    <div class="col-lg-9 col-md-8"> {{ row['village'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Taluka</div>
                    <div class="col-lg-9 col-md-8"> {{ row['taluka'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">District</div>
                    <div class="col-lg-9 col-md-8"> {{ row['district'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">State</div>
                    <div class="col-lg-9 col-md-8"> {{ row['state'] }}</div>
                  </div>

                  <h5 class="card-title">Personal Eligibility Details / वैयक्तिक पात्रता तपशील</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Are you Salaried ? </div>
                    <div class="col-lg-9 col-md-8">{{ row['salaried'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Are you Disabled? </div>
                    <div class="col-lg-9 col-md-8">{{ row['disability'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Type of Disability (IF ANY) </div>
                    <div class="col-lg-9 col-md-8">{{ row['type_of_disability'] }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-overview pt-3" id="profile-qual">
                  <h5 class="card-title">Qualification Details / पात्रता तपशील</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">P.H.D Registration Date</div>
                    <div class="col-lg-9 col-md-8"> {{ row['phd_registration_date'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">P.H.D Registration Year</div>
                    <div class="col-lg-9 col-md-8"> {{ row['phd_registration_year'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Name of University</div>
                    <div class="col-lg-9 col-md-8"> {{ row['concerned_university'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Name of College</div>
                    <div class="col-lg-9 col-md-8"> {{ row['name_of_college'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Name of Guide</div>
                    <div class="col-lg-9 col-md-8"> {{ row['name_of_guide'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Topic of P.H.D</div>
                    <div class="col-lg-9 col-md-8"> {{ row['topic_of_phd'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Faculty</div>
                    <div class="col-lg-9 col-md-8"> {{ row['faculty'] }}</div>
                  </div>

                  <p><strong>SSC Details</strong></p>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">SSC Passing Year</div>
                    <div class="col-lg-9 col-md-8"> {{ row['ssc_passing_year'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">SSC Percentage</div>
                    <div class="col-lg-9 col-md-8"> {{ row['ssc_percentage'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">SSC School Name</div>
                    <div class="col-lg-9 col-md-8"> {{ row['ssc_school_name'] }}</div>
                  </div>

                  <p><strong>HSC Details</strong></p>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">HSC Passing Year</div>
                    <div class="col-lg-9 col-md-8"> {{ row['hsc_passing_year'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">HSC Percentage</div>
                    <div class="col-lg-9 col-md-8"> {{ row['hsc_percentage'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">HSC School Name</div>
                    <div class="col-lg-9 col-md-8"> {{ row['hsc_school_name'] }}</div>
                  </div>

                  <p><strong>Graduation Details</strong></p>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Graduation Passing Year</div>
                    <div class="col-lg-9 col-md-8"> {{ row['graduation_passing_year'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Graduation Percentage</div>
                    <div class="col-lg-9 col-md-8"> {{ row['graduation_percentage'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Graduation College Name</div>
                    <div class="col-lg-9 col-md-8"> {{ row['graduation_school_name'] }}</div>
                  </div>

                  <p><strong>Post Graduation Details</strong></p>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Post Graduation Passing Year</div>
                    <div class="col-lg-9 col-md-8"> {{ row['phd_passing_year'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Post Graduation Percentage</div>
                    <div class="col-lg-9 col-md-8"> {{ row['phd_percentage'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Post Graduation College Name</div>
                    <div class="col-lg-9 col-md-8"> {{ row['phd_school_name'] }}</div>
                  </div>
                </div>


                <div class="tab-pane fade profile-overview pt-3" id="profile-edit">

                  <!-- Family Overview -->
                  <h5 class="card-title">Income Details / उत्पन्न तपशील</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Family's Annual Income</div>
                    <div class="col-lg-9 col-md-8"> ₹ {{ row['family_annual_income'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Income Certificate Number</div>
                    <div class="col-lg-9 col-md-8">{{ row['income_certificate_number'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Issuing Authority</div>
                    <div class="col-lg-9 col-md-8">{{ row['issuing_authority'] }}</div>
                  </div>

                  <h5 class="card-title">Domicile Details / अधिवास तपशील</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Are you Domicile of Maharashtra ?</div>
                    <div class="col-lg-9 col-md-8">
                      {% if row['domicile'] == 'Yes' %}
                      <span class="text-success fw-bold">{{ row['domicile'] }}</span>
                      {% else %}
                      <span class="text-danger fw-bold">{{ row['domicile'] }}</span>
                      {% endif %}

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Do you have Domicile Certificate ?</div>
                    <div class="col-lg-9 col-md-8">
                      {% if row['domicile_certificate'] == 'Yes' %}
                      <span class="text-success fw-bold">{{ row['domicile_certificate'] }}</span>
                      {% else %}
                      <span class="text-danger fw-bold">{{ row['domicile_certificate'] }}</span>
                      {% endif %}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Domicile Certificate Number</div>
                    <div class="col-lg-9 col-md-8">
                      <span class="text-dark">{{ row['domicile_number'] }}</span>
                    </div>
                  </div>

                  <h5 class="card-title">Caste Details / जात तपशील</h5>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Do you have Caste Certificate ?</div>
                    <div class="col-lg-9 col-md-8">
                      {% if row['caste_certf'] == 'Yes' %}
                      <span class="text-success fw-bold">{{ row['caste_certf'] }}</span>
                      {% else %}
                      <span class="text-danger fw-bold">{{ row['caste_certf'] }}</span>

                      {% endif %}
                      <label data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-original-title="If you answer 'NO,' your application will be rejected."><i class=" ri-information-fill
                      "></i></label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">What is your caste ?</div>
                    <div class="col-lg-9 col-md-8">{{ row['caste'] }} </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Issuing District</div>
                    <div class="col-lg-9 col-md-8">{{ row['issuing_district'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Issuing Authority</div>
                    <div class="col-lg-9 col-md-8">{{ row['caste_issuing_authority'] }}</div>
                  </div>

                  <h5 class="card-title">
                    Parent's-Guardian's Details Details / पालकांचे-पालकांचे तपशील तपशील
                  </h5>


                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Father's Name</div>
                    <div class="col-lg-9 col-md-8">{{ row['father_name'] }}</div>
                  </div>


                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Mother's Name</div>
                    <div class="col-lg-9 col-md-8">{{ row['mother_name'] }}</div>
                  </div>


                  <!-- Family Overview Ends -->

                </div>

                <div class="tab-pane fade profile-overview pt-3" id="bank">

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Bank Name</div>
                    <div class="col-lg-9 col-md-8">{{ row['bank_name'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">IFSC Code</div>
                    <div class="col-lg-9 col-md-8">{{ row['ifsc_code'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Account Number</div>
                    <div class="col-lg-9 col-md-8">{{ row['account_number'] }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Account Holder Name (As on Card)</div>
                    <div class="col-lg-9 col-md-8">{{ row['account_holder_name'] }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-overview pt-3" id="profile-change-password">
                  <h5 class="card-title">Attached Documents</h5>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Identity Proof</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['documentfile1'] }}" target="_blank"
                        class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View address Proof"><span><i class="ri-eye-fill"></i></span></a> </div>
                  </div>

                  <div class="row align-items-center">
                      <div class="col-lg-3 col-md-4 label">Address Proof</div>
                      <div class="col-lg-9 col-md-8">
                          <a href="{{ row['documentfile2'] }}"
                             {% if row['documentfile2'] is not none %}
                                 target="_blank"
                             {% else %}
                                 {% set error = 'No Document Uploaded' %}
                             {% endif %}
                             class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                             data-bs-original-title="View Address Proof">
                                 <span><i class="ri-eye-fill"></i></span>
                          </a>
                      </div>
                  </div>


                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Qualification Certificate</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['documentfile3'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Qualification Certificate"><span><i
                            class="ri-eye-fill"></i></span></a> </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Domicile Certificate</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['documentfile4'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Domicile Certificate"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Income Certificate</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['documentfile5'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Income Certificate"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                    <div class="row align-items-center">
                      <div class="col-lg-3 col-md-4 label ">Caste Certificate</div>
                      <div class="col-lg-9 col-md-8"><a
                          href="{{ row['documentfile6'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Caste Certificate"><span><i class="ri-eye-fill"></i></span></a>
                      </div>
                    </div>

                    <div class="row align-items-center">
                      <div class="col-lg-3 col-md-4 label ">Medical Certificate for Disability</div>
                      <div class="col-lg-9 col-md-8"><a
                          href="{{ row['documentfile7'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Caste Certificate"><span><i class="ri-eye-fill"></i></span></a>
                      </div>
                    </div>

                  <div class="row align-items-center">
                      <div class="col-lg-3 col-md-4 label ">Passbook or Cheque book</div>
                      <div class="col-lg-9 col-md-8"><a
                          href="{{ row['documentfile8'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Caste Certificate"><span><i class="ri-eye-fill"></i></span></a>
                      </div>
                    </div>

                    <div class="row align-items-center">
                      <div class="col-lg-3 col-md-4 label ">Government ID Proof</div>
                      <div class="col-lg-9 col-md-8"><a
                          href="{{ row['documentfile9'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Caste Certificate"><span><i class="ri-eye-fill"></i></span></a>
                      </div>
                    </div>

                    <div class="row align-items-center">
                      <div class="col-lg-3 col-md-4 label ">Government ID Proof</div>
                      <div class="col-lg-9 col-md-8"><a
                          href="{{ row['documentfile10'] }}" target="_blank"
                          class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="View Caste Certificate"><span><i class="ri-eye-fill"></i></span></a>
                      </div>
                    </div>

                    {% endfor %}

                  </div>
                <!-- END Documents Attached -->

                <div class="tab-pane fade profile-overview pt-3" id="payment_records">
                  <h5 class="card-title">Payment Records</h5>
                  {% for row in record %}


                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{ row['full_name'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Email</div>
                    <div class="col-lg-9 col-md-8">{{ row['email'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Faculty</div>
                    <div class="col-lg-9 col-md-8">{{ row['faculty'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Starting Duration Date</div>
                    <div class="col-lg-9 col-md-8">{{ row['duration_date_from'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Ending Duration Date</div>
                    <div class="col-lg-9 col-md-8">{{ row['duration_date_to'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Total Months</div>
                    <div class="col-lg-9 col-md-8">{{ row['total_months'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Fellowship</div>
                    <div class="col-lg-9 col-md-8">{{ row['fellowship'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Total Fellowship</div>
                    <div class="col-lg-9 col-md-8">{{ row['to_fellowship'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Rate</div>
                    <div class="col-lg-9 col-md-8">{{ row['rate'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Amount</div>
                    <div class="col-lg-9 col-md-8">{{ row['amount'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Fellowship</div>
                    <div class="col-lg-9 col-md-8">{{ row['fellowship'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Months</div>
                    <div class="col-lg-9 col-md-8">{{ row['months'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Total House Rent Allowance</div>
                    <div class="col-lg-9 col-md-8">{{ row['total_hra'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Count</div>
                    <div class="col-lg-9 col-md-8">{{ row['count'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">PWD</div>
                    <div class="col-lg-9 col-md-8">{{ row['pwd'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Total</div>
                    <div class="col-lg-9 col-md-8">{{ row['total'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">City</div>
                    <div class="col-lg-9 col-md-8">{{ row['city'] }}</div>
                  </div>
                </div>
                  {% endfor %}
              <!-- End PaYment Records -->

              <div class="tab-pane fade profile-overview" id="joining_report">
                  <h5 class="card-title">Joining Reports</h5>
                  {% for row in result %}

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Applicantion Date</div>
                    <div class="col-lg-9 col-md-8">{{ row['application_date'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Application Time </div>
                    <div class="col-lg-9 col-md-8">{{ row['application_time'] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Joining Date</div>
                    <div class="col-lg-9 col-md-8">{{ row['joining_date'] }}</div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Joining Report</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['joining_report'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>
                  {% endfor %}
              </div>
              <!-- END Joining Report -->

              <div class="tab-pane fade profile-overview" id="half_yearly_reports">
                  <h5 class="card-title">Half Yearly Reports</h5>
                  {% for row in result %}

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Half yearly Report 1</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['half_yearly_report1'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Half yearly Report 2</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['half_yearly_report2'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Half yearly Report 3</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['half_yearly_report3'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Half yearly Report 4</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['half_yearly_report4'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Half yearly Report 5</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['half_yearly_report5'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Half yearly Report 6</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['half_yearly_report6'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Half yearly Report 7</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['half_yearly_report7'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Half yearly Report 8</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['half_yearly_report8'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Half yearly Report 9</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['half_yearly_report9'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">Half yearly Report 10</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['half_yearly_report10'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>
                  {% endfor %}
              </div>
                <!-- End Half Yearly Reports -->


              <div class="tab-pane fade profile-overview" id="hra">
                  <h5 class="card-title">Half Yearly Reports</h5>
                  {% for row in result %}

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">House Rent Allowance - 1st Year Report</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['rent_agreement1'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">House Rent Allowance - 2nd Year Report</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['rent_agreement2'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">House Rent Allowance - 3rd Year Report</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['rent_agreement3'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">House Rent Allowance - 4th Year Report</div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['rent_agreement4'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">House Rent Allowance - 5th Year Report </div>
                    <div class="col-lg-9 col-md-8"><a
                        href="{{ row['rent_agreement5'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                    </div>
                  </div>

                  {% endfor %}
              </div>
                <!-- End House Rent Allowance -->


               <div class="tab-pane fade profile-overview" id="other_details">
                  <h5 class="card-title">Other Details</h5>

                  <div class="row">
                    {% for row in output %}
                    <div class="col-lg-3 col-md-4 label ">Withdrawn from Fellowship or Not ?</div>
                    <div class="col-lg-9 col-md-8">{{ row['fellowship_withdrawn'] }}</div>
                    {% endfor %}
                  </div>

                  <div class="row">
                    {% for row in result %}
                    <div class="col-lg-3 col-md-4 label ">Change in Guide - <strong>Current Guide</strong></div>
                    <div class="col-lg-9 col-md-8">{{ row['name_of_guide'] }}</div>
                    {% endfor %}
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">P.H.D Certificate</div>
                    <div class="col-lg-9 col-md-8">
                      {% for row in result %}
                      <a
                        href="{{ row['phd_award'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                      {% endfor %}
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 label ">P.H.D Thesis Uploaded</div>
                    <div class="col-lg-9 col-md-8">
                      {% for row in result %}
                      <a
                        href="{{ row['phd_thesis'] }}"
                        target="_blank" class="btn btn-theme btn-sm" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="View Joining Report"><span><i class="ri-eye-fill"></i></span></a>
                      {% endfor %}
                    </div>
                  </div>
              </div>
                <!-- End Other Details -->

              </div><!-- End Bordered Tabs -->
            </div>
          </div>
        </div>
      </div>


    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% if(session['user_type'] == 'User' ) %}
  {% include 'user_templates/footer.html' %}
  {% else %}
  {% include 'admin_templates/footer.html' %}
  {% endif %}

  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='admin_assets/vendor/apexcharts/apexcharts.min.js')}}"></script>
  <script src="{{ url_for('static', filename='admin_assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='admin_assets/vendor/chart.js/chart.umd.js')}}"></script>
  <script src="{{ url_for('static', filename='admin_assets/vendor/echarts/echarts.min.js')}}"></script>
  <script src="{{ url_for('static', filename='admin_assets/vendor/quill/quill.min.js')}}"></script>
  <script src="{{ url_for('static', filename='admin_assets/vendor/simple-datatables/simple-datatables.js')}}"></script>
  <script src="{{ url_for('static', filename='admin_assets/vendor/tinymce/tinymce.min.js')}}"></script>
  <script src="{{ url_for('static', filename='admin_assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='admin_assets/js/main.js')}}"></script>

</body>

</html>