<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - Fellowship </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/admin_assets/img/favicon.png" rel="icon">
  <link href="static/admin_assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/admin_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/admin_assets/css/select2-bootstrap4.css">
  <link rel="stylesheet" href="/static/admin_assets/css/select2.min.css">

  <!-- Template Main CSS File -->
  <link href="static/admin_assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  {% include 'admin_templates/header.html' %}
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  {% include 'admin_templates/sidebar.html' %}

  <!-- End Sidebar-->





  <main class="main" id="main">

    <section class="section contact">
      <div class="">
        <form method="POST" action="/payment_sheet_form">
          <div class="card">
            <div class="card-header bg-light">
              <h5 class="card-title p-0">Fellowship Details / अर्जदाराचे तपशील</h5>
            </div>
            <div class="card-body p-3">
              <div class="form-group row">
                <div class="col-md-4">
                  <label for="" class="fw-bold">Applicant Full Name <span class="text-danger">*</span></label>
                  <!-- <input type="text" class="form-control" name="full_name" id="full_name"> -->
                  <select name="full_name" id="full_name" class="form-control">
                    <option value="">---- Select Student ----</option>
                    {% for record in records %}
                    <option value="{{record['id']}}">{{record['first_name']}} {{record['middle_name']}}
                      {{record['last_name']}}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col-md-4">
                  <label class="fw-bold">Faculty<span class="text-danger">*</span></label>
                  <select name="faculty" class="form-control" id="faculty">
                    <option value="" selected> --- Select Option ---</option>
                    <option value="ARTS" data-hidden="20500">ARTS / COMMERCE / LAW</option>
                    <option value="SCIENCE" data-hidden="25000">SCIENCE</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label class="fw-bold">Date of PHD Registration<span class="text-danger">*</span></label>
                  <input type="date" class="form-control" name="date" id="date">
                </div>

                <div class="col-md-4">
                  <label class="fw-bold">Duration Start Date<span class="text-danger">*</span></label>
                  <input type="date" class="form-control" name="duration" id="duration">
                </div>

                <div class="col-md-4">
                  <label class="fw-bold">Duration End Date<span class="text-danger">*</span></label>
                  <input type="date" class="form-control" name="duration_end" id="duration_end">
                </div>

                <div class="col-md-4">
                  <label class="fw-bold">Total Duration Months<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="total_months" id="total_months" readonly disabled
                    placeholder="Enter Total Duration Months">
                </div>

                <div class="col-md-4">
                  <label class="fw-bold">Fellowship<span class="text-danger">*</span></label>
                  <select name="fellowship" id="fellowship" class="form-control">
                    <option value=""> --- Select Option ---</option>
                    <option value="31000">31000</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label class="fw-bold">Total Fellowship<span class="text-danger">*</span></label>
                  <input type="text" name="to_fellowship" id="to_fellowship" class="form-control" readonly disabled
                    placeholder="Amount">
                </div>

                <div class="col-md-4">
                  <label class="fw-bold">H.R.A Rate<span class="text-danger">*</span></label>
                  <select name="rate" id="rate" class="form-control">
                    <option value=""> --- Select Option ---</option>
                    <option value="8">8%</option>
                    <option value="16">16%</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label class="fw-bold">H.R.A Amount<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="amount" id="amount" readonly disabled>
                </div>



                <div class="col-md-4">
                  <label class="fw-bold">Total H.R.A<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="total_hra" id="total_hra" readonly disabled>
                </div>

                <div class="col-md-4">
                  <label class="fw-bold"> Months<span class="text-danger">*</span></label>
                  <select name="months" id="months" class="form-control">
                    <option value=""> --- Select Option ---</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label class="fw-bold">Count<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="count" id="count" readonly disabled>
                </div>

                <div class="col-md-4">
                  <label class="fw-bold"> PWD<span class="text-danger">*</span></label>
                  <select name="pwd" class="form-control">
                    <option value=""> --- Select Option ---</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label for="" class="fw-bold">Total <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="total" id="total">
                </div>

                <div class="col-md-4">
                  <label for="" class="fw-bold"> Remarks<span class="text-danger">*</span></label>
                  <input type="text" name="remarks" class="form-control" id="remarks">
                </div>

              </div>
            </div>
            <div class="card-footer">
              <div class="text-center">
                <input type="submit" class="text-center btn btn-theme" name="submit" id="submit">
              </div>
            </div>
          </div>
        </form>
      </div>
      </form>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'admin_templates/footer.html' %}
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/admin_assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="static/admin_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/admin_assets/vendor/chart.js/chart.umd.js"></script>
  <script src="static/admin_assets/vendor/echarts/echarts.min.js"></script>
  <script src="static/admin_assets/vendor/quill/quill.min.js"></script>
  <script src="static/admin_assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="static/admin_assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="static/admin_assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/admin_assets/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="static/admin_assets/js/payment_sheet_form.js"></script>
  <script src="/static/select2/js/select2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    $(document).ready(function () {
      $('#faculty').on('change', function () {
        var faculty = $(this).val()
        if (faculty == 'SCIENCE') {
          amount = 25000
        }
        else {
          amount = 20500
        }
        $('#count').val(amount)
      })
    })

    $('#full_name').select2()

    $('#full_name').on('change', function () {
      var std_id = $(this).val()
      $.ajax({
        url: '/get_student',
        type: 'POST',
        data: { data: std_id },
        success: function (html) {
          var date = new Date(html[0]['phd_registration_date']).toISOString().split('T')[0];
          $('#date').val(date)
        }
      })
    })

    $('#duration_end').on('blur', function () {
      if ($('#duration').val() == '') {
        Swal.fire({
          icon: 'warning',
          title: 'Sorry',
          text: 'Please Enter Duration Start Date',
        });
        $(this).val('')
      } else {
        var start_date_value = $('#duration').val()
        var end_date_value = $(this).val()
        var startDate = new Date(start_date_value);
        var endDate = new Date(end_date_value);
        if (endDate < startDate) {
          Swal.fire({
            icon: 'warning',
            title: 'Sorry',
            text: 'End Date Should above start date',
          });
          $(this).val('')
        }
        var time = endDate - startDate
        var monthsDifference = (endDate.getFullYear() - startDate.getFullYear()) * 12 + (endDate.getMonth() - startDate.getMonth());
        $('#total_months').val(monthsDifference + ' Months')

      }
    })

    $('#fellowship').on('change', function () {
      if ($('#total_months').val() == '') {
        Swal.fire({
          icon: 'warning',
          title: 'Sorry',
          text: 'Please enter start date and end date first',
        });
        $(this).val('')
      } else {
        var month_duration = parseFloat($('#total_months').val().replace(/\D/g, ''))
        var total_amt = $(this).val() * month_duration
        $('#to_fellowship').val(total_amt)
      }
    })

    $('#rate').on('change', function () {
      var rate = parseFloat($(this).val())
      if ($('#to_fellowship').val() == '') {
        Swal.fire({
          icon: 'warning',
          title: 'Sorry',
          text: 'Please select fellowship amount',
        });
        $(this).val('')
      } else {
        var fellowship_amt = parseFloat($('#fellowship').val())
        var fellowship_amt_final = parseFloat($('#to_fellowship').val())
        var rate_amount = fellowship_amt * rate / 100
        var rate_amount_total = fellowship_amt_final * rate / 100

        $('#amount').val(rate_amount)
        $('#total_hra').val(rate_amount_total)
        var total = fellowship_amt_final + rate_amount_total + parseFloat($('#count').val())
        var final_amt = total.toLocaleString('en-IN');
        $('#total').val(final_amt+' /-')

      }
    })
  </script>


</body>

</html>