<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - Fellowship</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/admin_assets/img/favicon.png" rel="icon">
  <link href="static/admin_assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/admin_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/admin_assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/admin_assets/css/style.css" rel="stylesheet">

</head>

<!-- ======= Header ======= -->
{% include 'admin_templates/header.html' %}
<!-- End Header -->

<!-- ======= Sidebar ======= -->
{% include 'admin_templates/sidebar.html' %}
<!-- End Sidebar-->

<main id="main" class="main">
  <div class="content-wrapper"></div>
  <div id="recordContainer"></div>
  <div class="pagetitle">
    <h1>Rejected Records at Level 2</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index">Home</a></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item active">Level 3 - Final Approval </li>
      </ol>
    </nav>
  </div>

  <!-- Table to display student applications -->
  <table class="table table-bordered shadow datatable">
    <thead>
      <tr>
        <th>Link</th>
        <th>Unique Applicant ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Status</th>
        <th>Scrutiny Status</th>
        <th>Final Approval Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Replace this with your backend code to iterate over rows -->
      {% for record in data %}
      <tr>

        <td>
          <a href="#" class="btn btn-theme btn-sm " data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="View Form"><i class="ri-eye-fill"></i></a>
        </td>

        <td>{{ record[65] }}</td>
        <td>{{ record[2] }}</td>
        <td>{{ record[3] }}</td>
        <td>{{ record[51] }}</td>
        <td>{{ record[53] }}</td>
        <td>
          <form method="POST" action="/rejected_applications_l2">
            <input type="hidden" name="applicant_id" value="{{ record[1] }}">
            {% if record[53] == 'pending' %}
            <button type="submit" name="accept" value="{{ record[1] }}" class="btn btn-sm btn-success"><i
                class="fas fa-check"></i>Accept</button>
            <button type="submit" name="reject" value="{{ record[1] }}" class="btn btn-sm btn-danger">Reject</button>
            {% else %}
            <p>{{ record[53] }}</p>
            {% endif %}
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="text-end">
    <form method="POST" action="{{ url_for('export_data') }}">
      <button type="submit" class="btn  btn-theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Export as Excel">Export to Excel</button>
    </form>
  </div>

  <button id="backButton" class="btn  btn-theme" data-bs-toggle="tooltip" data-bs-placement="top">Back</button>

  <div class="text-end">
    <form method="POST" action="">
      <button type="submit" class="btn  btn-theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Move to Pending">Move to Pending</button>
    </form>
  </div>

</main>


<!-- ======= Footer ======= -->
{% include 'admin_templates/footer.html' %}

<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="static/admin_assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="static/admin_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/admin_assets/vendor/chart.js/chart.umd.js"></script>
<script src="static/admin_assets/vendor/echarts/echarts.min.js"></script>
<script src="static/admin_assets/vendor/quill/quill.min.js"></script>
<script src="static/admin_assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="static/admin_assets/vendor/tinymce/tinymce.min.js"></script>
<script src="static/admin_assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="static/admin_assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
  integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="static/admin_assets/js/common.js"></script>

<script>
  // Get a reference to the back button element
  var backButton = document.getElementById("backButton");

  // Add a click event listener to the button
  backButton.addEventListener("click", function() {
    // Use the browser's history to navigate back
    window.history.back();
  });
</script>
</body>

</html>