<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Fellowship | Login/Signup</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/assets/img/fellow_logo_1.png" rel="icon">
    <link href="/static/assets/img/fellow_logo_1.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/assets/css/style.css" rel="stylesheet">
</head>

<body>

</body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      $(document).ready(function(){
      $.ajax({
          url:"http://192.168.10.69:8080/",
          method:"GET",
          data:{entered_uid:'882284367228', entered_url:'https://fellowship.trti-maha.in',entered_opr:'getrefnum'},  // Automatically sends as query string
          success:function(response){
            console.log(response)
          }
        });


        $.ajax({
              url:"http://192.168.10.69:8080/",
              method:"GET",
              data:{entered_uid:entered_uid, entered_url:entered_url,entered_opr:entered_opr},  // Automatically sends as query string
              success:function(response){
                const status = response.Status; // True/False from the main object
                const adharnum = response.adharnum; // Aadhaar Number from the main object

                // Parse the 'stdout' string
                const stdout = response.stdout;

                console.log("status:", status);

              }
            });
            }

      })
    </script>
</html>