<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Fellowship | Login/Signup</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/assets/img/fellow_logo_1.png" rel="icon">
    <link href="/static/assets/img/fellow_logo_1.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/assets/css/style.css" rel="stylesheet">
</head>

<body>

    {% include 'frontend/header.html' %}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Login | Signup</li>
                </ol>
                <h2>Batch 2021 - 2022 |&| 2022 - 2023</h2>

            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page container ">
            <div class="card shadow p-5 border-0 overflow-hidden" id="login_wrapper_1">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-center justify-content-start">

                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12 position-relative d-flex align-items-center">
                                <form action="/user_login_21" class="login form-index p-2" method="POST" autocomplete="off">
                                    <h2 class="login_logo_name text-center">Batch 2021 - 2022 |&| 2022 - 2023</h2>
                                    <div class="form-group row">
                                        <div class="col-md-12 mb-3">
                                            <label class="text-white">First Name</label>
                                            <input type="text" name="first_name" class="form-control" autocomplete="off"
                                                placeholder="Enter First Name" required="">
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label class="text-white">Middle Name</label>
                                            <input type="text" name="middle_name" class="form-control" autocomplete="off"
                                                placeholder="Enter Middle Name" required="">
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label class="text-white">Last Name</label>
                                            <input type="text" name="last_name" class="form-control" autocomplete="off"
                                                placeholder="Enter Last Name" required="">
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label class="text-white">Registered Email</label>
                                            <input type="text" name="email" class="form-control" autocomplete="off"
                                                placeholder="Enter Email Address" required="">
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label class="text-white">Registered Mobile Number</label>
                                            <input type="text" class="form-control" name="mobile_number"
                                                autocomplete="off" placeholder="Enter Mobile Number" required="">
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-md-between mb-3">
                                        <div class="pass-link"><a href="#" title="forget-password"
                                                class="text-white">Forgot password?</a>
                                        </div>
                                        <div class="form-group form-check ">
                                            <input type="checkbox" class="form-check-input" id="rememberMe">
                                            <label class="form-check-label text-white" for="rememberMe">Remember
                                                me</label>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-verify text-white">Verify</button>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- <img src="assets/img/circle-image.svg" alt="warli" class="warli-login"> -->
        </section>
    </main><!-- End #main -->

    {% include 'frontend/footer.html' %}

    <script>
        $(document).ready(function () {
            $('#signup_wrapper').hide()
            // Get the current page's URL
            var currentPageURL = window.location.href;

            // Loop through the menu items and compare their href attributes to the current URL
            $('#navbar li a').each(function () {
                var menuItemURL = $(this).attr('href');
                if (currentPageURL.includes(menuItemURL)) {
                    // If the current URL includes the menu item's URL, add the 'active' class
                    $(this).closest('li a').addClass('active');
                }
            });

            $('#signup').on('click', function () {
                $('#login_wrapper').animate({
                    opacity: 0, // Target opacity value (0 to 1 for fading in)
                    left: '0', // Target left position (e.g., 100px from the left)
                    width: '0px', // Target width (e.g., 200px)
                }, 1000, function () {
                    $('#login_wrapper').hide()
                    $('#signup_wrapper').css('left', '-100%').css('width', '0').show().animate({
                        opacity: 1, // Target opacity value (0 to 1 for fading in)
                        left: '0',
                        width: '100%',
                    }, 1100);
                });
            })
            $('#login_switch').on('click', function () {
                $('#signup_wrapper').animate({
                    opacity: 0, // Target opacity value (0 to 1 for fading in)
                    left: '100%',
                    width: '0',
                }, 1500, function () {
                    $('#signup_wrapper').hide()
                    $('#login_wrapper').css('left', '100%').css('width', '0').show().animate({
                        opacity: 1, // Target opacity value (0 to 1 for fading in)
                        left: '0',
                        width: '100%',
                    }, 1000);
                });
            })

        });
    </script>

</body>

</html>